/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------COLOR--------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
.ColorBlancoMetadata{
    color: white;
}

.ColorRojoOscuroMetadata{
    color: #920B0B
}

.ColorRojoMetadata{
    color: #DC1B1B;
}

.ColorRojoSuaveMetadata{
    color: #ec5c5c;
}

.ColorVerdeMetadata{
    color: #81C564;
}

.ColorVerdeSuaveMetadata{
    color: #A6D890;
}

.ColorAmarilloMetadata{
    color: #BFB81B;
}

.ColorAzulMetadata{
    color: #3984b8;
}

.ColorAzulSuaveMetadata{
    color: #67a1ca;
}

.ColorGrisMetadata{
    color: #7d8286;
}

.ColorGrisSuaveMetadata{
    color: #E0E0E0;
}

.ColorGrisMuySuaveMetadata{
    color: #ececec;
}

.ColorGrisFuerteMetadata{
    color: #444;
}

.ColorNaranjaMuySuaveMetadata{
    color: #FFEFC6
}

.ColorDeshabilitado{
    color: #7d8286;
}

/*-----------------------------------------------------------------------------------------*/
/*--------------------------BACKGROUND-COLOR----------------------------*/
/*-----------------------------------------------------------------------------------------*/

.BackgroundColorBlancoMetadata{
    background-color: white;
}

.BackgroundColorBlancoAzuladoMetadata{
    background-color: #F2F8FA;
}

.BackgroundColorBlancoVerdosoMetadata{
    background-color: #EAF3E6;
}

.BackgroundColorVerdeMetadata{
    background-color: #41AC36;
}

.BackgroundColorRojoFuerteMetadata{
    background-color: #920B0B
}

.BackgroundColorRojoMetadata{
    background-color: #DC1B1B;
}

.BackgroundColorAzulMetadata{
    background-color: #3984b8;
}

.BackgroundColorTransparent{
    background-color: transparent;
}

.BackgroundColorGrisMetadata{
    background-color: #7d8286 !important;
}

.BackgroundGrisMuySuaveMetadata{
    background-color: #dee4e9;
}

.BackgroundGrisSuaveTablas{
    background-color: #eaeaea;
}

.BackgroundNaranjaMuySuaveMetadata{
    background-color: #FFEFC6
}

.BackgroundDeshabilitado{
    background-color: #7d8286 !important;
}