html {
    height: 100%;
}
 
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    padding:0;
    margin:0;
    height: calc(100% - 70px);
    background-color: $bodyBgColor;
}

.layout-wrapper {
    .topbar {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        color: $topbarLeftTextColor;
        height: 70px;
        padding: 12px 15px;
        border-bottom: solid 1px $topbarBorderBottomColor;
        z-index: 100;
        @include box-sizing(border-box);
        @include background-gradient-left2right($topbarLeftBgColor, $topbarRightBgColor);
        
        .topbar-logo {
            img {
                height: 44px;
                vertical-align: middle;
            }
            
        }
        
        #user-display {
            float: right;
            text-align: right;
            margin-top: 2px;

            img {
                vertical-align: middle;
                width: 40px;
                margin-right: 8px;
            }
            
            .username {
                @include transition(color .3s);
                vertical-align: middle;
                margin-right: 8px;
                color:$topbarRightTextColor;
            }
            
            .fa {
                @include transition(color .3s);
                font-size: 16px;
                vertical-align: middle;
                color:$topbarRightTextColor;
            }
            
            &:hover {
                .username, .fa {
                    color: darken($topbarRightTextColor, 15%);
                }
            }
        }
        
        #menu-button {
            vertical-align: middle;
            font-size: 16px;
            margin-left: 48px;
            @include transition(color .3s);
            
            &:hover {
                color: darken($topbarLeftTextColor, 15%);
            }
        }
        
        .fa-search {
            font-size: 16px;
            vertical-align: middle;
            margin-left: 36px;
        }
        
        .topbar-search {
            vertical-align: middle;
            border: 0 none;
            background-color: transparent;
            color: $topbarLeftTextColor;
            @include transition(color .3s);
            
            &:focus {
                outline: 0 none;
            }
                        
            &::-webkit-input-placeholder {color:$topbarLeftTextColor;}
            &:-moz-placeholder           {color:$topbarLeftTextColor;}
            &::-moz-placeholder          {color:$topbarLeftTextColor;}
            &:-ms-input-placeholder      {color:$topbarLeftTextColor;} 
        }
        
        a {
            color: $topbarLeftTextColor;
        }
        
        #topbar-menu {
            display: none;
            position: absolute;
            right: 15px;
            top: 70px;
            width: 250px;
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: #ffffff;
            -webkit-animation-duration: .5s;
            -moz-animation-duration: .5s;
            animation-duration: .5s;
            @include overlay-shadow();
            
            &.topbar-menu-visible {
                display: block;
            }
            
            > li {
                a {
                    color: #7d8286;
                    padding: 10px 16px;
                    display: block;
                    
                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    span {
                        margin-left: 6px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    .topbar-badge {
                        float: right;
                        background-color: $accentColor;
                        padding: 2px 8px;
                        display: block;
                        margin-top: -2px;
                        color: #ffffff;
                        @include border-radius($borderRadius);
                    }
                    
                    &:hover {
                        background-color: #F6F9FB;
                    }
                }
                
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    display: none;
                    
                    a {
                        padding-left: 32px;
                    }
                }
                
                &.menuitem-active {
                    > a {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
    
    .layout-menu-wrapper {
        position: fixed;
        top: 70px;
        height: 100%;
        width: 240px;
        border-right: solid 1px #dee4e9;
        background-color: #ffffff;
        @include box-sizing(border-box);
        @include transition(left .3s);
        
        .sidebar-scroll-content {
            display: block;
            height: 100%;
            position: relative;
                
            .menu-container {
                padding-bottom: 80px;
            }
        }
        
        .mobile-search {
            display: none;
        }
        
        .layout-menu {
            list-style-type: none;
            margin: 0;
            padding: 0 0 120px 0;
            box-sizing: border-box;

            li {                
                > a {
                    position: relative;
                    color: #7d8286;
                    text-decoration: none;
                    padding: 10px 16px;
                    display: block;
                    box-sizing: border-box;
                    font-size: 13px;
                                        
                    .menu-badge {
                        position: absolute;
                        right: 15px;
                        top: 13px;
                        color: #ffffff;
                        padding: 2px 6px;
                        background-color: $accentColor;
                        @include border-radius(50%);
                    }
                    
                    .fa {
                        vertical-align: middle;
                        font-size: 16px;
                    }
                    
                    .fa:last-child {
                        @include transition(all .3s);
                        float: right;
                    }
                    
                    span {
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                    
                    &:hover {
                        background-color: #F6F9FB;
                        
                        .menu-badge {
                            color: #ffffff;
                        }
                    }
                }
                
                &.active-menuitem {
                    > a {
                        border-bottom: 0 none;
                        background-color: #F6F9FB;
                        color: $primaryColor;

                        .fa:last-child {
                            @include rotate(-180deg);
                        }
                    }
                }
                
                > ul {
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    @include box-sizing(border-box);
                    
                    li {
                        a {
                            padding-left: 32px;
                        }
                        
                        > ul {
                            li {
                                a {
                                    padding-left: 48px;
                                }
                                
                                > ul {
                                    li {
                                        a {
                                            padding-left: 64px;
                                        }
                                    }
                                    
                                    > ul {
                                        li {
                                            a {
                                                padding-left: 80px;
                                            }
                                        }
                                        
                                        > ul {
                                            li {
                                                a {
                                                    padding-left: 96px;
                                                }
                                            }
                                            
                                            > ul {
                                                li {
                                                    a {
                                                        padding: 112px;
                                                    }
                                                }
                                                
                                                > ul {
                                                    li {
                                                        a {
                                                            padding: 128px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
                
                .layout-menu-tooltip {
                    display:none;
                    padding: 0 5px;
                    position: absolute;
                    left: 76px;
                    top: 8px;
                    z-index: 101;
                    line-height: 1;
                    
                    .layout-menu-tooltip-text {
                       padding: 6px 8px;
                       font-weight: 700;
                       background-color: lighten($darkMenuBgColor, 10%);
                       color: #ffffff;
                       min-width: 75px;
                       white-space: nowrap;
                       text-align: center;
                       @include overlay-shadow();
                    }
                    
                    .layout-menu-tooltip-arrow {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-color: transparent;
                        border-style: solid;
                        top: 50%;
                        left: 0;
                        margin-top: -5px;
                        border-width: 5px 5px 5px 0;
                        border-right-color: lighten($darkMenuBgColor, 10%);
                    }
                }
            } 
        }
        
        &.layout-menu-dark {
            background-color: $darkMenuBgColor;
            border-right-color: lighten($darkMenuBgColor, 5%);
            
            .mobile-search {
                i {
                    color: #ffffff;
                }
                
                input {
                    background-color: transparent;
                    color: #ffffff;
                }
            }
            
            .layout-menu {
                li {
                    a {
                        color: $darkMenuTextColor;
                        
                        &:hover {
                            background-color: lighten($darkMenuBgColor, 10%);
                        }
                    }
                    
                    &.active-menuitem {
                        > a {
                            background-color: lighten($darkMenuBgColor, 20%);
                        }
                    }
                }
                
            }
        }
        
        .nano {
            .nano-pane {
                .nano-slider {
                    background-color: #aaaaaa;
                    @include opacity(.3);
                }
            }
        }
    }
    
    .layout-content {
        padding: 8px;
        margin-top: 70px;
        @include transition(margin-left .3s);
    }
    
    .layout-footer {
        background-color: #ffffff;
        border-top: 1px solid $dividerColor;
        border-bottom: 1px solid $dividerColor;
        padding: 16px 24px;
        
        img {
            width: 100px;
        }
        
        .layout-footer-right {
            float: right;
        }
        
        a {
            color: #7d8286;
            font-size: 24px;
            margin-left: 12px;
        }
    }
}

@media (min-width: 641px) {
    .layout-wrapper {
        &.layout-menu-static {
            .layout-menu-wrapper {
                padding-top: 15px;
                left: 0;
            }
            
            .layout-content {
                margin-left: 240px;
            }
            
            .layout-footer {
                margin-left: 240px;
            }
            
            &.layout-menu-static-inactive {
                .layout-menu-wrapper {
                    left: -240px;
                }
                
                .layout-content {
                    margin-left: 0;
                }
                
                .layout-footer {
                    margin-left: 0;
                }
            }
        }
        
        &.layout-menu-overlay {
            .layout-menu-wrapper {
                padding-top: 15px;
                left: -240px;
                z-index: 100;
            }
            
            .layout-content {
                margin-left: 0;
            }
            
            .layout-footer {
                margin-left: 0;
            }
            
            &.layout-menu-overlay-active {
                .layout-menu-wrapper {
                    left: 0;
                }
            }
        }
        
        &.layout-menu-slim {
            #menu-button { 
                display: none;
            }
            
            .layout-menu-wrapper {
                width: 75px;
                overflow: visible;
                z-index: 100;
                
                .nano {
                    overflow: visible;
                    
                    .nano-content {
                        overflow: visible;
                        margin-right: 0px !important;
                    }
                    
                    .nano-pane {
                        display: none !important;
                    }
                }
                
                .layout-menu {
                    padding: 0;
                    
                    > li {
                        position: relative;
                        
                        > a {
                            text-align: center;
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            
                            i:first-child {
                                font-size: 19px;
                            }
                            
                            span, i:last-child {
                                display: none;
                            }
                            
                            &:hover + .layout-menu-tooltip {
                                display: block;
                            }
                        }
                        
                        > ul {
                            @include overlay-shadow();
                            background-color: #ffffff;
                            position: absolute;
                            top: 0;
                            left: 76px;
                            min-width: 200px;
                            
                            li {
                                a {
                                    padding-left: 16px;
                                }
                                
                                ul {
                                    li {
                                        a {
                                            padding-left: 32px;
                                        }
                                    }
                                    
                                    ul {
                                        li {
                                            a {
                                                padding-left: 48px;
                                            }
                                        }
                                        
                                        ul {
                                            li {
                                                a {
                                                    padding-left: 64px;
                                                }
                                            }
                                            
                                            ul {
                                                li {
                                                    a {
                                                        padding: 80px;
                                                    }
                                                }
                                                
                                                ul {
                                                    li {
                                                        a {
                                                            padding: 96px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.active-menuitem {
                            > a {
                                &:hover + .layout-menu-tooltip {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
                &.layout-menu-dark {
                    .layout-menu {
                        > li {
                            > ul {
                                background-color: $darkMenuBgColor;
                            }
                        }
                    }
                }
            }
            
            .layout-content {
                margin-left: 75px;
            }
            
            .layout-footer {
                margin-left: 75px;
            }
        }
    }
}

@media (max-width: 640px) {
    .layout-wrapper {
        .layout-menu-wrapper {
            padding-top: 15px;
            left: -240px;
            z-index: 100;
            
            .mobile-search {
                display: block;
                padding: 10px 16px;
                
                .fa {
                    font-size: 16px;
                }
                
                input {
                    border: 0 none;
                    font-size: $fontSize;
                    font-family: $fontFamily;
                    padding-left: 6px;
                    color: $textColor;
                    
                    &:focus {
                        outline: 0 none;
                    }
                }
            }
        }
        
        .layout-content {
            margin-left: 0;
        }
        
        .layout-footer {
            margin-left: 0;
        }
        
        .topbar {
            .topbar-logo {
                width: 144px;
                display: block;
                margin: 0 auto;
            }
            
            .topbar-search-icon, .topbar-search {
                display: none;
            }
            
            #menu-button {
                font-size: 24px;
                float: left;
                margin-left: 0;
                margin-top: -36px;
            }
            
            #user-display {
                margin-top: -42px;
                
                .username {
                    display: none;
                }
            }
        }
        
        &.layout-menu-active {
            .topbar {
                z-index: 999999998;
            }
            .layout-menu-wrapper {
                left: 0;
                z-index: 999999999;
            }
        }
        
        .layout-mask {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #424242;
            top: 0;
            left: 0;
            z-index: 999999997;
            @include opacity(.9);
        }
    }
}

