/*Icono dinamico con numero*/
.iconoDinamico{
    content: attr(data-title);
}

.iconoDinamico > i::after{
    content: attr(title);
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border-radius: .4em;
    background-color:  #FA3E3E;
    height: 20px;
    width: 20px;
    padding-top: 2px;
    font-family: "Roboto";
}
.buscar-contenedor {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 32px;
}

.buscar-contenedor  input {
    width: 100%;
}
