.icono-numero-alertas {
    position: absolute;
    right: 2.2em;
    display: inline-block;
    font-size: 0.5em;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border-radius: .4em;
    background-color: #FA3E3E;
    height: 20px;
    width: 20px;
    padding-top: 1px;
}

.prevent-click {
    pointer-events: none !important;
}

.botoneraCardAlertas > button {
    background-color: transparent;
    color: #3984b8;
    padding: 0;
    margin: 0;
}

.botoneraCardAlertas > button:hover {
    background-color: #3984b8;
    color: white;
}

.botoneraListaAlertas {
    background-color: #3984b8;
    position: sticky;
    bottom: 0;
}

.botoneraListaAlertas > button {
    padding: 2px;
    margin: 0;
}

.cardAlertas {
    border-bottom: 1px solid #3476A4;
}

.listaAlertas {
    background-color: white;
    max-height: 550px;
    min-height: 100px
}

.panelListaAlertas {
    display: none;
    position: absolute;
    right: 15px;
    top: 70px;
    width: 25em;
    background-color: #3476A4;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    color: black;
    border-radius: 2px;
    border-top-right-radius: 0px;
    padding: 4px;
    transition: .5s;
}

.alertasIcon {
    cursor: pointer;
}

.botonOn {
    background-color: #3476A4;
}

.alertasButton {
    float: right;
    font-size: 30px;
    margin-top: -15px;
    width: 83px;
    text-align: center;
    padding-top: 0.5em;
    height: 58px;
    pointer-events: fill;
    cursor: pointer;
    transition: .5s;
    cursor: initial;
}

.alertasButton > a:hover {
    color: lightgrey;
    transition: .5s;
}

.logo-metacontratas {
    float: left;
    transition: 1.5s;
}

#menu-button {
    margin-top: 10px !important;
    font-size: 24px !important;
    float: left;
    margin-left: 0 !important;
}

.boorde-blanco-logo-metacontratas {
    border: 0px;
    -webkit-filter: drop-shadow(5px 1px 0 black) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white);
    margin-right: 0px
}

.topbar-logo{
    float: left !important;
    padding-right: 50px;
    transition: 1.5s;
}

/* MEDIA QUERIES WIDTH */

@media(max-width: 640px) {
    .logo-metacontratas {
        position: absolute;
        right: 50%;
        transform: translate(50%);
    }
}

@media(max-width: 640px) {
    .panelListaAlertas {
        transition: 1.5s;
        right: 0em;
    }
}

@media(max-width: 640px) {
    .topbar-logo {
        position: absolute;
        right: 50%;
        transform: translate(50%);
    }
}

@media(max-width: 640px) {
    .alertasButton {
        right: 0em;
        transition: 1.5s;
    }
}

@media(max-width: 640px) {
    #menu-button {
         transition: 1.5s !important;
    }
}

@media(max-width: 640px) {
    #user-display {
        display: none;
    }
}

/* FIN MEDIA QUERIES WIDTH */
