<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      lang="es">
    <composite:interface>  
        <composite:attribute name="controller" />
        <composite:attribute name="bloquearUI" shortDescription="Cuál va a ser la capa que se va a bloquear mientras se busca" default=""/>
        <composite:attribute name="recargarAction" method-signature="java.lang.String action()"/>
        <composite:attribute name="update" shortDescription="Cuál va a ser la capa que se va a actualizar cuando se termine la búsqueda"/>
        <composite:attribute name="busquedaAvanzadaAbierta" default="false" shortDescription="true o false. Con true, la búsqueda avanzada se muestra abierta"/>
        <composite:attribute name="styleClass" default=""/>
        <composite:facet name="camposAvanzados" />
    </composite:interface>

    <composite:implementation>
        <p:outputPanel styleClass="buscador" id="buscador">
            <div class="icono-buscador PaddingLeft0 #{cc.attrs.styleClass}">
                <p:panel header="#{msg.campo0190}" styleClass="ui-g-12">
                    <div class="icono-buscador-imagen">
                        <p:graphicImage name="img/busqueda.png" library="metadata" width="50"/>
                    </div>
                    <h:form id="formBuscador">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1 ui-g-12" style="text-align: center; min-width: 90px">
                            <br></br><br></br>
                            <p:commandButton action="#{cc.attrs.controller.recargarLista}" value="#{msg.campo0004}" process="@(:input), @this" update="#{cc.attrs.update}" icon="fa fa-search" style="float: none" styleClass="MarginAuto botonBuscar"
                                             onclick="redimension()"/>
                        </div>

                        <div class="ui-sm-12 ui-md-10 ui-lg-10 ui-g-12">
                            <div class="ui-g panelBuscador" id="panelBuscador">
                                <composite:insertChildren/>
                            </div>
                        </div>

                        <c:if test="#{not empty cc.facets.camposAvanzados}">
                            <p:accordionPanel multiple="false" activeIndex="#{empty cc.attrs.busquedaAvanzadaAbierta or cc.attrs.busquedaAvanzadaAbierta eq false?'null':'0'}" rendered="#{cc.attrs.busquedaAvanzadaAbierta eq false}" styleClass="ui-g-12 ui-md-12">
                                <p:tab title="#{msg.campo0191}" class="ui-g" >
                                    <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-12">
                                        <div class="ui-g panelBuscador">
                                            <composite:renderFacet name="camposAvanzados" />
                                        </div>
                                    </div>
                                </p:tab>
                            </p:accordionPanel>
                        </c:if>
                    </h:form>
                </p:panel>
            </div>
        </p:outputPanel>
    </composite:implementation>
</html>