<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <composite:interface>
        <composite:attribute name="conTitulo" default="true"/>
        <composite:attribute name="titulo" />
        <composite:attribute name="uifluid" default="true"/>
        <composite:attribute name="tipoFormulario" default="true"/>
        <composite:attribute name="styleClass" default=""/>
        <composite:attribute name="quitarMargenInferior" default="false"/>
        <composite:attribute name="widgetVar"/>
        <composite:attribute name="rendered" default="true"/>
    </composite:interface>

    <composite:implementation>

        <p:outputPanel styleClass="card card-w-title #{cc.attrs.styleClass} #{cc.attrs.uifluid ? 'ui-fluid' : ''} #{cc.attrs.quitarMargenInferior ? 'MarginBottom0' : ''}" rendered="#{cc.attrs.rendered}">
            <c:if test="#{cc.attrs.conTitulo}">
                <h2><h:outputText value="#{cc.attrs.titulo}"/></h2>
            </c:if>

            <c:if test="#{cc.attrs.tipoFormulario}">
                <p:panelGrid columns="2" layout="grid" columnClasses="ui-g-12 ui-md-3,ui-g-12 ui-md-9"
                             styleClass="ui-panelgrid-blank form-group">
                    <composite:insertChildren/>
                </p:panelGrid>
            </c:if>
            <c:if test="#{not cc.attrs.tipoFormulario}">
                <composite:insertChildren/>
            </c:if>
        </p:outputPanel>
    </composite:implementation>
</html> 