<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface> 
        <composite:attribute name="idd" required="true" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="disabled" default="false"/>
        <composite:attribute name="styleClass" default=" "/>
        <composite:editableValueHolder name="input" targets="#{cc.attrs.idd}" />
        <composite:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}">
            <p:calendar id="#{cc.attrs.idd}" value="#{cc.attrs.value}" disabled="#{cc.attrs.disabled}" styleClass="calendarioDatePickerRequired #{cc.attrs.styleClass}"
                        showOn="button" converter="localDateConverter" validator="LocalDateValidator" pattern="dd/MM/yyyy" required="true" />
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </composite:implementation>
</html>