<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface> 
        <composite:attribute name="idd" required="true" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="disabled" default="false"/>
        <composite:editableValueHolder name="input" targets="#{cc.attrs.idd}" />
        <composite:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}">
            <p:inputSwitch id="#{cc.attrs.idd}" onLabel="#{msg.campo0023}" offLabel="#{msg.campo0024}"
                           value="#{cc.attrs.value}" disabled="#{cc.attrs.disabled}" >
                <composite:insertChildren/>
            </p:inputSwitch>
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </composite:implementation>
</html>