<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://java.sun.com/jsf/composite"
      lang="es">
    <cc:interface> 
        <cc:attribute name="idd" required="true" />
        <cc:attribute name="value" required="true"/>
        <cc:attribute name="disabled" default="false"/>
        <cc:attribute name="styleClass" default=""/>
        <cc:editableValueHolder name="input" targets="#{cc.attrs.idd}" />
        <cc:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </cc:interface>

    <cc:implementation>
        <!--<div id="#{cc.immediateParent.clientId}:#{cc.id}">-->
        <div id="#{cc.clientId}">
            <p:inputText id="#{cc.attrs.idd}" value="#{cc.attrs.value}" disabled="#{cc.attrs.disabled}" styleClass="#{cc.attrs.styleClass}" required="true">
                <cc:insertChildren/>
            </p:inputText>
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </cc:implementation>
</html>