<p style="text-align: center; font-size: 2em">
    <strong>Pago seguro</strong>
</p>

<strong style="font-size: 1.5em">Ofrecemos 100% pago seguro</strong>
<p>
    En Metadata, S.L. garantizamos que cada una de las transacciones realizadas es 100% segura.
    Todas las compras que realices en nuestra web están avaladas por el servidor seguro de la entidad bancaria Banco Santander, de manera que tus datos están protegidos y encriptados por la tecnología más avanzada,
    por lo cual es mucho más seguro enviar tus datos al Servidor Seguro de los bancos que pagar en una gasolinera, restaurante, etc.
</p>

<ul>
    <li>
        <strong>¿Qué pasa cuando envío mis datos a través de la red?</strong>
        <p>
            Cuando realizas la compra y eliges la forma de pago, al pinchar sobre el botón de Pago por tarjeta, el sitio web conecta con el Servidor Seguro.
            A partir de ese momento entras a navegar en zona segura e inscribes tus datos bancarios en el Servidor Seguro, que se cerciora que la operación reúne los requisitos de seguridad exigidos y realiza la operación,
            tras la cual aparece la confirmación de la misma y el comprador regresa de nuevo a la plataforma web.
        </p>
    </li>
</ul>

<strong style="font-size: 1.5em">¿Podría conocer alguien la clave de encriptación?</strong>
<p>
    Cada vez que un usuario se conecta a un Servidor Seguro, éste se encarga de generar una clave aleatoria para la sesión que está estableciendo con el usuario,
    mientras que el navegador del cliente genera otra clave, igualmente aleatoria, que le sirve para identificarse ante el servidor.
    Si en el momento en que se ha establecido una conexión segura, otros usuarios se conectan al servidor, se vuelven a generar otras nuevas claves para identificar los participantes en la conexión.
    El Servidor Seguro se encarga de que las claves generadas no coincidan nunca mientras se establecen varias conexiones simultáneas.
</p>

<strong style="font-size: 1.5em">¿Cómo sé que realmente se ha establecido una conexión segura?</strong>
<p>
    Podrás saber si has conectado a un Servidor Seguro si la dirección URL empieza por "https://".
    Además, los navegadores más utilizados lo indican de manera gráfica mediante un icono que muestra al usuario si hay o no una conexión segura
    (por ejemplo, en el caso de Internet Explorer aparece el candado cerrado amarillo).
</p>

<ul>
    <li>
        <strong>
            ¿Qué protocolo de seguridad se utiliza en las transmisiones?
        </strong>
        <p>
            En las conexiones con el Servidor Seguro se utilizan las últimas especificaciones del protocolo de seguridad standard en la red: SSL.
        </p>
    </li>

    <li>
        <strong>
            ¿Qué entidad financiear avala la seguridad en mis transacciones?
        </strong>
        <p>
            Cuando realizas una compra con una tarjeta de débito o crédito en nuestra plataforma web se establece una conexión con el Servidor Seguro de Banco Santander,
            el cual aporta toda su experiencia e infraestructura tecnológica para dar soporte de manera segura y eficaz a todas las transacciones electrónicas de compras que se hagan en www.metacontratas.com.
            Cuando llega una petición de pago al Servidor Seguro de Banco Santander y éste se encarga de gestionar la autorización o denegación, en tiempo real,
            del pago de esa compra tras corroborar que todos los datos son correctos para realizar el pago.
        </p>
    </li>

    <li>
        <strong>
            3D Secure
        </strong>
        <p>
            La pasarela RedSys es compatible con los nuevos protocolos de pago seguro en internet introducidos por las marcas Visa y Mastercard.
            3D Secure es el sistema de pago más seguro con tarjeta de crédito porque es capaz de autentificar al titular de la tarjeta.
            Garantiza que el cliente que está usando un número de tarjeta es realmente el titular de la misma.
            Esto se realiza mediante una clave secreta que su propio banco le facilitará y que sólo conocerá usted, en la mayoría de los casos esta clave se puede solicitar on-line.
            Para más información puede consultar la web de su banco o ponerse en contacto con el.
        </p>
    </li>

    <li>
        <strong>
            Muy importante
        </strong>
        <p>
            Nuestra web sólo acepta el pago con tarjetas de crédito que estén securizadas (3D Secure),
            por lo que necesitará una clave especial para comprar por internet que deberá proporcionársela la entidad financiera emisora de la tarjeta, haciendo mención a la necesidad de tener la clave virtual de 3D Secure.
            Recomendamos utilizar este sistema 3D Secure, usted se asegura que es el único que puede realizar compras con la tarjeta por lo que se hace imposible su uso fraudulento en la red,
            garantizando la total seguridad de las transacciones.
        </p>
    </li>

    <li>
        <strong>
            ¿Dónde puedo obtener más información?
        </strong>
        <p>
            Si deseas ampliar información sobre temas de seguridad puedes recurrir a la que proporciona Banco Sabadell en su web, www.bancosantander.es.
        </p>
    </li>
</ul>

<strong style="font-size: 1.5em">¿Cómo protegemos tu pago con tarjta de crédito?</strong>
<p>
    www.metacontratas.com utiliza un servidor basado en uno de los sistemas de pago seguro más fiables de Internet: el protocolo de seguridad SSL (Secure Socked Layer). (Si deseas más información, visita www.ssl.com).
    Todos tus datos personales y la información que nos transmitas viaja de forma encriptada a través de la red, y se protegen y codifican antes de enviarse para su procesamiento.
    Para el pago con Visa y Mastercard sólo se aceptarán transacciones CES (Comercio Electrónico Seguro). Después de verificar que la tarjeta está adherida al sistema CES,
    el sistema contactará con el banco que la ha emitido para que el comprador autorice la compra. Una vez que el banco confirme la autenticidad, se efectuará el cargo en la tarjeta.
    En caso contrario el pedido será cancelado.
    La pasarela de pago que utilizamos para tu pago con tarjeta de crédito es de Banco Santander, que encripta tus datos por medio del protocolo SSL 256 bits.
    Nuestro sistema no almacena ningún dato bancario de tu tarjeta de crédito sino que va directamente al TPV Virtual (Terminal Punto de Venta) del Banco.
</p>

<strong style="font-size: 1.5em">¿Qué es el SSL?</strong>
<p>
    Los últimos avances en tecnología de navegadores y servidores han facilitado el uso de servicios web sin preocupaciones relacionadas con el fraude electrónico.
    Un ejemplo de ello es Secure Sockets Layer (SSL), desarrollado por Netscape, un protocolo de seguridad enviado a la Internet Engineering Task Force (IETF) como borrador de Internet.
    Básicamente, el protocolo permite al navegador y al servidor de una sesión web autenticarse entre sí y proteger la información que, posteriormente, fluirá entre ambos puntos.
    Mediante el uso de técnicas criptográficas como la codificación y la firma digital, el protocolo:

</p>
<ul>
    <li>
        permite a los navegadores y servidores web autenticarse entre sí
    </li>
    <li>
        permite a los propietarios de sitios web controlar el acceso a servidores, directorios, archivos o servicios particulares
    </li>
    <li>
        permite compartir información confidencial (como, por ejemplo, números de tarjetas de crédito) entre el navegador y el servidor, manteniéndola inaccesible para terceros
    </li>
    <li>
        y permite asegurar que los datos intercambiados por el navegador y el servidor no puedan corromperse, ya sea de forma accidental o deliberada, sin que ello sea detectado
    </li>
</ul>
