<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface>
        <composite:attribute name="guardarAction" method-signature="java.lang.String action()"/>
        <composite:attribute name="partialSubmit" default='true'/>
        <composite:attribute name="formulario" required="false" default="@form"/>
        <composite:attribute name="oncomplete" required="false" default=""/>
        <composite:attribute name="process" required="false" default=""/>
    </composite:interface>

    <composite:implementation>
        <div style="display: inline-block" id="pieBotonBuardar">
            <p:messages id="messages" closable="true" globalOnly="true" style="display: inline-block; margin-right: 15px"/>
            <p:commandButton id="btnGuardar" value="#{msg.campo0015}" update="#{cc.attrs.formulario} messages" process="#{cc.attrs.formulario}" action="#{cc.attrs.guardarAction}" icon="fa fa-check"
                             oncomplete="$('.messages2').hide(); comprobar_errores_validacion(args); #{cc.attrs.oncomplete}" />
<!--            partialSubmit="#{cc.attrs.partialSubmit}"-->
        </div>
        <p:blockUI block="@form" trigger="btnGuardar" >
            <p:graphicImage name="img/ajaxloadingbar.gif" library="metadata"/>
        </p:blockUI>
    </composite:implementation>
</html>
