<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface> 
        <composite:attribute name="idd" required="true" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="valueId"/>
        <composite:attribute name="update"/>
        <composite:editableValueHolder name="selectOneMenu" targets="#{cc.attrs.idd}" />
        <composite:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}">
            <p:selectOneMenu id="#{cc.attrs.idd}" value="#{cc.attrs.valueId}" converter="javax.faces.Integer" filter="true" filterMatchMode="contains">
                <f:selectItem itemLabel="..." itemValue="" />
                <composite:insertChildren/>

                <p:ajax event="valueChange" process="@this" update="#{cc.attrs.update}" immediate="true" />
            </p:selectOneMenu>
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </composite:implementation>
</html>