<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface> 
        <composite:attribute name="idd" required="true" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="disabled" default="false"/>
        <composite:attribute name="stepFactor" default="1"/>
        <composite:attribute name="styleClass" default=""/>
        <composite:attribute name="min" default="-999999999999999999999999"/>
        <composite:editableValueHolder name="input" targets="#{cc.attrs.idd}" />
        <composite:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}">            
            <p:spinner id="#{cc.attrs.idd}" value="#{cc.attrs.value}" min="#{cc.attrs.min}" required="true" 
                       stepFactor="#{cc.attrs.stepFactor}" disabled="#{cc.attrs.disabled}" styleClass="#{cc.attrs.styleClass}">
                <composite:insertChildren/>
            </p:spinner>
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </composite:implementation>
</html>
