<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui">

    <cc:interface>
        <cc:attribute name="idMensaje" required="true" />
        <cc:attribute name="idButtom" required="true" />
        <cc:attribute name="idTab" required="true" />
        <cc:attribute name="value" required="true"/>
        <cc:attribute name="numTab" default="0"/>
        <cc:attribute name="styleClass" default=""/>
        <cc:attribute name="tabActiva" required="true"/>
        <cc:attribute name="formPaneles" required="true"/>
    </cc:interface>

    <cc:implementation>
        <o:messages id="#{cc.attrs.idMensaje}" for=":formDetalle:pestana:#{cc.attrs.idTab}" style="display: none" class="mensajeTab"/>

        <c:if test="${cc.attrs.numTab == 0}">
            <p:commandButton id="#{cc.attrs.idButtom}" value="#{cc.attrs.value}" process="@this" type="button" onclick="showTab(#{cc.attrs.numTab});" class="#{cc.attrs.tabActiva eq cc.attrs.idTab or cc.attrs.tabActiva eq '' ? 'tabSeleccionado' : 'botonesTabs'} botonesError"/>
        </c:if>
        <c:if test="${cc.attrs.numTab != 0}">
            <p:commandButton id="#{cc.attrs.idButtom}" value="#{cc.attrs.value}" process="@this" type="button" onclick="showTab(#{cc.attrs.numTab});" class="#{cc.attrs.tabActiva eq cc.attrs.idTab ? 'tabSeleccionado' : 'botonesTabs'} botonesError"/>
        </c:if>

        <h:outputText id="validError" styleClass="fa fa-exclamation-circle posicionIconoValidacion" style="width: 16px; height: 15px; position: relative; display: none;"/>
        <p:tooltip for="validError" value="#{msg.campo0138}" style="max-width: 250px" />

        <p:blockUI block="#{cc.attrs.formPaneles}" trigger="#{cc.attrs.idButtom}" >
            <p:graphicImage name="img/ajaxloadingbar.gif" library="metadata"/>
        </p:blockUI>

    </cc:implementation>
</html>
