<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">

    <composite:interface>
        <composite:attribute name="value"      required="true"/>
        <composite:attribute name="selection"  required="true"/>
        <composite:attribute name="rowKey"     required="true"/>
        <composite:attribute name="controller" required="true"/>
        <composite:attribute name="outcome"    default=""/>
        <composite:attribute name="idObjeto"   default="0"/>

        <composite:attribute name="renderedRelaciones" default="false"/>
        <composite:attribute name="renderedNuevo"      default="false"/>
        <composite:attribute name="renderedBorrar"     default="false"/>
        <composite:attribute name="renderedDetalle"    default="false"/>
        <composite:attribute name="renderedExcel"      default="false"/>
        <composite:attribute name="disableSelection"   default="false"/>
        <composite:attribute name="disableButtons"     default="false"/>
        <composite:attribute name="filteredValue"      default=""/>

        <composite:attribute name="anchoColumnaBotones" default="59"/>
        <composite:attribute name="styleClass"          default=""/>

        <composite:attribute name="recargarAction" method-signature="java.lang.String action()"/>
        <composite:attribute name="borrarAction"   method-signature="java.lang.String action()"/>
        
        <!-- Atributo para personalizar el comportamiento de la expansion de las filas en la tabla. Consultar la documentacion de PF para mas informacion-->
        <composite:attribute name="modoDeExpansion" default="multiple"/>
        <composite:attribute name="gruposDeFilasExpandibles" default="false"/>
        <composite:attribute name="filasExpandidas" default="false"/>
        
        <!-- Atributos para personalizar la edicion de los elementos de la tabla -->
        <composite:attribute name="editable" default="false"/>
        <composite:attribute name="editMode" default="false"/>
        
        <!-- Evento al que se llama para expandir y contraer las filas -->
        <composite:clientBehavior name="customRowToggle" targets="tablaSelector" event="rowToggle"/>
        
        <composite:facet name="botonesAdicionalesColumna" />
        <composite:facet name="botonesAdicionalesHeader" />
    </composite:interface>

    <composite:implementation>

        <script>           
             var timer;
             function filter() {
                clearTimeout(timer);  //clear any running timeout on key up
                timer = setTimeout(function() { //then give it a second to see if the user is finished
                    PF('tablaSelector').filter();
                }, 600);
            }
        </script>
        
        <p:dataTable id="tablaSelector" widgetVar="tablaSelector" styleClass="tablaSelector #{cc.attrs.styleClass}" var="fila" 
                     rowSelectMode="checkbox"  paginatorPosition="bottom" value="#{cc.attrs.value}"
                     selection="#{cc.attrs.selection}" rowKey="#{cc.attrs.rowKey}" style="margin-bottom:0"
                     rows="25" paginator="#{cc.attrs.value.size() > 10}" rowsPerPageTemplate="25,50,100"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     reflow="true" emptyMessage="#{msg.campo0019}" rowExpandMode="#{cc.attrs.modoDeExpansion}" expandedRow="#{cc.attrs.filasExpandidas}" expandableRowGroups="#{cc.attrs.gruposDeFilasExpandibles}"
                     disabledSelection="#{cc.attrs.disableSelection}" editable="#{cc.attrs.editable}" editMode="#{cc.attrs.editMode}" filteredValue="#{cc.attrs.filteredValue}">
            
            <f:facet name="header" >
                <div class="ui-g" >
                    <div class="ui-g-12 ui-md-8 ui-g-nopad TexAlLeft" >
                        <p:selectOneButton  value="#{cc.attrs.controller.mostrarFilas}" styleClass="FloatLeft classSelectItem"
                                            unselectable="false" id="selector" rendered="#{cc.attrs.renderedRelaciones}" disabled="#{cc.attrs.disableButtons}">
                            <p:ajax listener="#{cc.attrs.recargarAction}" update="tablaSelector" process="@this" />
                            <f:selectItem itemLabel="#{msg.campo0053}" itemValue="T" />
                            <f:selectItem itemLabel="#{msg.campo0034}" itemValue="S" />
                        </p:selectOneButton>

                        <p:commandButton action="#{cc.attrs.recargarAction}" value="#{msg.campo0005}" rendered="#{not empty cc.attrs.recargarAction}"
                                         process="@this" update="tablaSelector" icon="ui-icon-refresh" styleClass="MarginRight5Px FloatLeft botonRecargar" disabled="#{cc.attrs.disableButtons}" onclick="redimension()"/>

                        <p:button outcome="#{cc.attrs.outcome}" icon="ui-icon-plus" value="#{msg.campo0001}" styleClass="MarginRight5Px FloatLeft"
                                  rendered="#{cc.attrs.renderedNuevo}" disabled="#{cc.attrs.disableButtons}">
                            <f:param name="id" value="0"/>
                        </p:button>

                        <p:commandButton id="excel" value="Excel" ajax="false" styleClass="FloatLeft green-btn MarginRight5Px" icon="fa fa-file-excel-o" rendered="#{cc.attrs.renderedExcel}">
                            <p:dataExporter type="xls" target="tablaSelector" fileName="facturas"/>

                            <p:tooltip for="excel" value="#{msg.campo0357}" />
                        </p:commandButton>

                        <composite:renderFacet name="botonesAdicionalesHeader" rendered="#{not empty cc.facets.botonesAdicionalesHeader}" />
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-g-nopad TextAlignRight">
                        <p:outputLabel value="#{msg.campo0004}" /><p:spacer width="10" />
                        <p:inputText id="globalFilter" onkeyup="filter();" style="width:150px" placeholder="#{msg.campo0020}">
                            <p:ajax event="valueChange" process="@form" update="@form"/>
                        </p:inputText>
                    </div>
                </div>
            </f:facet>

            <f:facet name="footer">
                #{cc.attrs.value.size()} #{msg.campo0021}
            </f:facet>

            <p:column selectionMode="multiple" style="text-align:center" exportable="false" width="15">
                <f:facet name="header" >
                    <p:selectBooleanCheckbox class="especial" id="ckSeleccionarTodos" value="#{cc.attrs.controller.checkSeleccionarTodoMarcado}"
                                             onchange="if (jQuery('input[name*=ckSeleccionarTodos_input]').is(':checked')) {
                                                         PF('tablaSelector').selectAllRows();
                                                     } else {
                                                         PF('tablaSelector').unselectAllRows();
                                                     }" >
                    </p:selectBooleanCheckbox>
                </f:facet>
            </p:column> 

            <p:column filterStyle="display:none" width="#{cc.attrs.anchoColumnaBotones > 59 ? cc.attrs.anchoColumnaBotones : (!cc.attrs.renderedBorrar or !cc.attrs.renderedDetalle ? 25 : cc.attrs.anchoColumnaBotones)}" 
                      style="text-align: center" exportable="false" rendered="#{cc.attrs.renderedBorrar or cc.attrs.renderedDetalle or not empty cc.facets.botonesAdicionalesColumna}">
                <p:button outcome="#{cc.attrs.outcome}?faces-redirect=true" icon="ui-icon-pencil" id="edit" styleClass="MarginRight5Px" rendered="#{cc.attrs.renderedDetalle}">
                    <f:param name="id" value="#{cc.attrs.idObjeto}"/>
                </p:button>
                <p:tooltip for="edit" value="#{msg.campo0003}" />
                <p:commandButton icon="fa fa-trash-o" id="borrar" action="#{cc.attrs.borrarAction}" update="tablaSelector" rendered="#{cc.attrs.renderedBorrar}" process="@this">
                    <p:confirm header="#{msg.campo0025}" message="#{msg.campo0026}"  icon="ui-icon-alert"/>
                </p:commandButton>
                <p:tooltip for="borrar" value="#{msg.campo0002}" />
                
                <p:blockUI block="tablaSelector" trigger="borrar" >
                    <div id="loaderPlantilla" class="spinner-plantilla">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </p:blockUI>
                
                <composite:renderFacet name="botonesAdicionalesColumna" rendered="#{not empty cc.facets.botonesAdicionalesColumna}"/>
            </p:column>

            <composite:insertChildren/>

        </p:dataTable>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
            <p:commandButton value="#{msg.campo0023}" type="button" icon="fa fa-check" styleClass="ui-confirmdialog-yes" id="btnConfirmSi"/>
            <p:commandButton value="#{msg.campo0024}" type="button" icon="fa fa-close" styleClass="ui-confirmdialog-no" id="btnConfirmNo"/>
        </p:confirmDialog>

        <p:blockUI block="@form" trigger="btnConfirmSi" >
            <p:graphicImage name="img/ajaxloadingbar.gif" library="metadata"/>
        </p:blockUI>

    </composite:implementation>
</html>