<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">

    <composite:interface> 
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="outcome" default=""/>
        <composite:attribute name="idObjeto" />
        <composite:attribute name="widgetVar"     default="tabla"/>
        <composite:attribute name="mensajeConfirmBorrar"     default="#{msg.campo0026}"/>

        <composite:attribute name="renderedNuevo"     default="false"/>
        <composite:attribute name="renderedBorrar"    default="false"/>
        <composite:attribute name="renderedDetalle"   default="true"/>
        <composite:attribute name="renderedExcel"     default="false"/>

        <composite:attribute name="anchoColumnaBotones" default="60"/>
        <composite:attribute name="styleClass" default=""/>

        <composite:attribute name="scrollable" default="false"/>
        <composite:attribute name="scrollHeight" default=""/>

        <composite:attribute name="recargarAction" method-signature="java.lang.String action()"/>
        <composite:attribute name="borrarAction" method-signature="java.lang.String action()"/>

        <composite:facet name="botonesAdicionalesColumna" />
        <composite:facet name="botonesAdicionalesHeader" />
    </composite:interface>

    <!--Comentario: Si no pasamos el 'seleccionados', el seleccion falla. Hemos intentado pasarle null por defecto pero solo funciona cuando se le engancha una propiedad null (del appbean)
                    directamente. En cuanto esa misma propiedad se pone con interrogaciones (a ? b : c) empieza a fallar.
    -->

    <composite:implementation>
        <script>           
             var timer;
             function filter() {
                clearTimeout(timer);  //clear any running timeout on key up
                timer = setTimeout(function() { //then give it a second to see if the user is finished
                    PF('tabla').filter();
                }, 600);
            }
        </script>

        <p:dataTable id="tabla" widgetVar="#{cc.attrs.widgetVar}" var="fila" value="#{cc.attrs.value}" class="tabla-con-botones-en-cabecera" paginatorPosition="bottom" 
                     rows="20" paginator="#{cc.attrs.value.size() > 20}" rowsPerPageTemplate="20,50,100"  styleClass="#{cc.attrs.styleClass}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     reflow="true" emptyMessage="#{msg.campo0019}" scrollable="#{cc.attrs.scrollable}" scrollHeight="#{cc.attrs.scrollHeight}">
            <f:facet name="header">
                <div class="ui-g" >

                    <div class="ui-g-6 ui-g-nopad">
                        <p:commandButton action="#{cc.attrs.recargarAction}" value="#{msg.campo0005}" rendered="#{not empty cc.attrs.recargarAction}"
                                         process="@this" update="tabla" icon="ui-icon-refresh" styleClass="MarginRight5Px FloatLeft botonRecargar" onclick="redimension()"/>

                        <p:button outcome="#{cc.attrs.outcome}" icon="ui-icon-plus" value="#{msg.campo0001}" styleClass="MarginRight5Px FloatLeft"
                                  rendered="#{cc.attrs.renderedNuevo}">
                            <f:param name="id" value="0"/>
                        </p:button>

                        <p:commandButton id="excel" value="Excel" ajax="false" styleClass="FloatLeft green-btn MarginRight5Px" icon="fa fa-file-excel-o" rendered="#{cc.attrs.renderedExcel}">
                            <p:dataExporter type="xls" target="tabla" fileName="cars"/>
                            <p:tooltip for="excel" value="#{msg.campo0357}" />
                        </p:commandButton>

                        <composite:renderFacet name="botonesAdicionalesHeader" rendered="#{not empty cc.facets.botonesAdicionalesHeader}"/>
                    </div>
                    <div class="ui-g-6 ui-g-nopad TextAlignRight">
                        <p:outputPanel >
                            <h:outputText value="#{msg.campo0004}"/><p:spacer width="10"/>
                            <p:inputText id="globalFilter" onkeyup="filter();" style="width:150px" placeholder="#{msg.campo0020}"/>
                        </p:outputPanel>
                    </div>
                </div>
            </f:facet>
            <f:facet name="footer">
                #{cc.attrs.value.size()} #{msg.campo0021}
            </f:facet>

            <p:column filterStyle="display:none" width="#{cc.attrs.anchoColumnaBotones}" style="text-align: center" exportable="false"
                      rendered="#{cc.attrs.renderedBorrar or cc.attrs.renderedDetalle or not empty cc.facets.botonesAdicionalesColumna}">
                <p:button outcome="#{cc.attrs.outcome}?faces-redirect=true" icon="ui-icon-pencil" id="edit" styleClass="MarginRight5Px" rendered="#{cc.attrs.renderedDetalle}">
                    <f:param name="id" value="#{cc.attrs.idObjeto}"/>
                </p:button>
                <p:tooltip for="edit" value="#{msg.campo0003}" />
                <p:commandButton icon="fa fa-trash-o" id="borrar" action="#{cc.attrs.borrarAction}" update="tabla" rendered="#{cc.attrs.renderedBorrar}" process="@this">
                    <p:confirm header="#{msg.campo0025}" message="#{cc.attrs.mensajeConfirmBorrar}"  icon="ui-icon-alert"/>
                </p:commandButton>
                <p:tooltip for="borrar" value="#{msg.campo0002}" />

                <p:blockUI block="tabla" trigger="borrar" >
                    <div id="loaderPlantilla" class="spinner-plantilla">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </p:blockUI>

                <composite:renderFacet name="botonesAdicionalesColumna" rendered="#{not empty cc.facets.botonesAdicionalesColumna}"/>
            </p:column>
            <composite:insertChildren/>
        </p:dataTable>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
            <p:commandButton value="#{msg.campo0023}" type="button" icon="fa fa-check" styleClass="ui-confirmdialog-yes" id="btnConfirmSi"/>
            <p:commandButton value="#{msg.campo0024}" type="button" icon="fa fa-close" styleClass="ui-confirmdialog-no" id="btnConfirmNo"/>
        </p:confirmDialog>

        <p:blockUI block="@form" trigger="btnConfirmSi" >
            <p:graphicImage name="img/ajaxloadingbar.gif" library="metadata"/>
        </p:blockUI>

    </composite:implementation>
</html>