<p>
    <strong>CONDICIONES DE CONTRATACIÓN DE LA PLATAFORMA METACONTRATAS</strong>
</p>
<p>
    <strong> </strong>
</p>
<ol>
    <li>
        <strong>GENERALIDADES</strong>
    </li>
</ol>
<p>
    Este documento contractual regirá la contratación de servicios a través del
    sitio web www.metacontratas.comwww.metacontratas.es, propiedad de Metadata
    S.L., en adelante METADATA.
</p>
<p>
    La aceptación de este documento conlleva que el USUARIO:
</p>
<p>
    - Ha leído, entiende y comprende lo aquí expuesto.
</p>
<p>
    - Es una persona con capacidad suficiente para contratar.
</p>
<p>
    - Asume todas las obligaciones aquí dispuestas.
</p>
<p>
    Estas condiciones tendrán un periodo de validez indefinido y serán
    aplicables a todas las contrataciones realizadas a través del sitio web del
    METADATA.
</p>
<p>
    El METADATA informa que el comercio es responsable y conoce la legislación
    vigente de los países a los que ofrece los servicios y se reserva el
    derecho de modificar unilateralmente las condiciones, sin que ello pueda
    afectar a los bienes o promociones que fueron adquiridos previamente a la
    modificación.
</p>
<ol>
    <li>
        <strong>CAPACIDAD PARA CONTRATAR</strong>
    </li>
</ol>
<p>
    <u>
        Las presentes condiciones generales de contratación constituyen un
        contrato entre el CLIENTE y METADATA S.L., en adelante METADATA. Al
        aceptarlas a través de la casilla de verificación que hemos puesto al
        efecto, usted realiza una aceptación plena de la oferta de servicios
        realizada por METADATA, quedando obligado al cumplimiento del presente
        contrato
    </u>
    . En caso de que usted acepte estás condiciones de contratación en
    representación de un profesional, de una sociedad o de cualquier otra
    persona jurídica (en adelante EL CLIENTE), usted declara que posee la
    facultad de representación para obligar a dicho profesional o entidad al
    cumplimiento del contrato que se formaliza con METADATA. Si usted no tiene
    la capacidad de representación, o si no acepta las presentes condiciones de
    contratación no podrá contratar ni utilizar de ninguna manera los servicios
    de la plataforma Metacontratas® de METADATA.
</p>
<p>
    <u>
        Le rogamos que lea con detenimiento el contenido este apartado, y si no
        se encuentra de acuerdo en todo o en parte, o si no tiene la capacidad
        de contratación suficiente, evite seguir con el proceso de
        contratación.
    </u>
</p>
<ul>
    <li>
        <strong>SERVICIOS</strong>
    </li>
</ul>
<p>
    Metacontratas® es una plataforma de software como servicio (SaaS), a través
    de la cual METADATA ofrece una variedad de servicios específicos para
    gestionar la información y documentación de empleados y máquinas que se
    requiere en las relaciones de subcontratación entre empresas, así como todo
    tipo de controles de acceso a instalaciones tanto industriales, de la
    construcción como laborales.
</p>
<p>
    Durante la prestación de sus servicios, METADATA pone a disposición del
    CLIENTE toda la infraestructura informática, tanto de software como de
    hardware, para que el CLIENTE pueda hacer uso de la plataforma
    Metacontratas® y todos los servicios asociados que contrate.
</p>
<p>
    Los servicios ofrecidos por METADATA a través de su plataforma Metacontras®
    son:
</p>
<ul>
    <li>
        <strong>Plataforma web</strong>
    </li>
    <li>
        <strong>Validación de documentación</strong>
    </li>
    <li>
        <strong>Soporte</strong>
    </li>
    <li>
        <strong>
            Petición automatizada de documentos a organismos y entidades
            públicas e inserción automatizada en Metacontratas®
        </strong>
    </li>
    <li>
        <strong>Plataforma Metacontratas CA.</strong>
    </li>
</ul>
<p>
    Cada cliente durante el momento del alta en la plataforma acepta las
    condiciones de contratación de la plataforma, aplicándosele según el
    cliente principal que le haya solicitado facilitarle datos a través de
    Metacontras®, una tarifa preestablecida. Dicha tarifa podrá variar de un
    cliente principal a otro.
</p>
<ol>
    <li>
        <strong>PROCEDIMIENTO DE RECARGO DE SALDO</strong>
    </li>
</ol>
<p>
    Para poder acceder a los servicios ofrecidos por METADATA, la empresa
    deberá darse de alta a través del sitio web mediante la creación de una
    cuenta de CLIENTE. Para ello, el USUARIO encargado del alta de la empresa
    deberá proporcionar los datos requeridos para la tramitación del acceso a
    la plataforma y la conexión con clientes o subcontratas, u otros terceros
    según sea necesario.
</p>
<p>
    Todos los datos personales que recoja METADATA se trataran de conformidad
    con lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril (GDPR) y la
    Ley Orgánica 3/2018 de 5 de diciembre (LOPDGDD), detallado en la
    información a usuarios disponible en la zona de usuario de cada CLIENTE.
</p>
<p>
    Una vez creada la cuenta de cliente, y validada su alta por METADATA, el
    CLIENTE podrá recargar el saldo que considere oportuno.
</p>
<p>
    El CLIENTE podrá recargar su saldo en la plataforma cuantas veces desee, y
    a través de todos los medios que ponemos a su disposición. Una vez
    recargado el saldo, todos los usos que haga EL CLIENTE de la plataforma,
    serán descontados de dicho saldo. METADATA facilitará en todo momento
    acceso al CLIENTE a su lista de gastos y conceptos de los mismos.
</p>
<ol>
    <li>
        <strong>CONDICIONES ECONÓMICAS</strong>
    </li>
</ol>
<p>
    El cliente se compromete a realizar una contraprestación económica a
    METADATA a cargo de los servicios que esta última le presta a través de su
    plataforma Metacontratas®. La configuración de dicha contraprestación se
    realizará teniendo en cuenta los servicios que elija el CLIENTE durante el
    proceso de contratación. El precio aplicable y la forma de facturación
    serán los que se incluyan en el ANEXO I del contrato principal entre
    METADATA y el CLIENTE.
</p>
<ol>
    <li>
        <strong><u>Precios</u></strong>
    </li>
</ol>
<p>
    Los precios de los servicios de la plataforma SaaS Metacontratas® de
    METADATA son cantidades fijas, establecidas al durante el alta del CLIENTE
    en la plataforma, y podrán variar con el transcurso del tiempo si llegara a
    existir una modificación sustancial de las condiciones iniciales
    presupuestadas al CLIENTE. Cualquier cambio de tarifa será comunicada al
    CLIENTE con una antelación mínima de 30 días, para que pueda aceptarla o
    rechazarla y por tanto dar por finalizado el presente contrato.
</p>
<p>
    METADATA pone a disposición del cliente las tarifas asociadas a los
    servicios que el CLIENTE consumirá o consuma en la plataforma.
</p>
<ol>
    <li>
        <strong>Periodicidad de facturación</strong>
    </li>
</ol>
<p>
    La facturación se realizará al inicio de la relación contractual mediante
    la modalidad de recargo de saldo. A partir de ahí, el cliente podrá
    recargar el saldo de su plataforma cuantas veces considere necesario.
</p>
<p>
    El CLIENTE deberá recargar su saldo con antelación al uso, y consumo de las
    funcionalidades y servicios de la plataforma.
</p>
<p>
    Para establecer la cantidad inicial idónea para el cliente, METADATA le
    facilitará una calculadora de probabilidad de uso y consumo.
</p>
<ol>
    <li>
        <strong>Formas de pago</strong>
    </li>
</ol>
<p>
    El CLIENTE dispone de los siguientes medios de pago, pudiendo variar entre
    ellos según sus necesidades.
</p>
<ul>
    <li>
        <u>Domiciliación</u>
        . A elegir durante el alta del cliente en la plataforma.
    </li>
    <li>
        <u>Transferencia</u>
    </li>
    <li>
        <u>Tarjeta de crédito</u>
    </li>
    <li>
        <u>Tarjeta debito</u>
    </li>
    <li>
        <u>Paypal</u>
    </li>
</ul>
<p>
    METADATA podrá exigir que el CLIENTE a suba a la plataforma un justificante
    del pago realizado en caso de no realizarse a través de la pasarela de pago
    disponible a través de la página web.
</p>
<ol>
    <li>
        <strong>POLÍTICA DE ENVIO</strong>
    </li>
</ol>
<p>
    Los servicios de METADATA se prestan a través de su plataforma SaaS
    Metacontratas®. No requieren de ningún tipo de envío físico. Una vez
    realizada la recarga de saldo, el CLIENTE recibirá un aviso electrónico de
    confirmación de la recarga, y aparecerá la misma en su cuenta de la
    plataforma.
</p>
<ul>
    <li>
        <strong>GASTOS DE TRANSPORTE</strong>
    </li>
</ul>
<p>
    No existen gastos de transporte.
</p>
<ul>
    <li>
        <strong>PERIODO DE VIGENCIA Y FINALIZACIÓN DEL CONTRATO</strong>
    </li>
</ul>
<p>
    <strong>Vigencia</strong>
</p>
<p>
    El contrato se entenderá perfeccionado en el momento de la aceptación por
    parte del CLIENTE de las condiciones de contratación durante el proceso de
    alta en Metacontratas®.
</p>
<p>
    La prestación del servicio se iniciará una vez validada la información del
    CLIENTE, su solicitud de alta y gestionado el pago del recargo inicial de
    saldo.
</p>
<p>
    El contrato tendrá duración anual, renovable automáticamente por plazos
    semejantes.
</p>
<p>
    <strong>Finalización del contrato</strong>
</p>
<p>
    Pese a que el contrato tiene duración anual, Metacontratas® no exige ningún
    periodo mínimo de permanencia. Las partes podrán poner fin al contrato
    cuando lo consideren oportuno, siempre y cuando avisen con una antelación
    mínima de 30 días.
</p>
<p>
    Una vez solicitada la finalización del contrato, el CLIENTE deberá
    descargar su información de Metacontratas®, de tal manera que pueda
    disponer de ella antes de que se finalice la prestación del servicio y por
tanto ya no tenga acceso a la plataforma.    <strong>Motivos de finalización del contrato</strong>
</p>
<p>
    Pese a que no se requerirá una motivación para que las partes den por
    finalizado el contrato, METADATA tendrá los siguientes supuestos como
    motivos indiscutibles para rescindir el contrato
</p>
<p>
    <u>Impago</u>
</p>
<p>
    Se podrá dar por finalizado el contrato así como la prestación del servicio
    a partir del segundo intento fallido de cobro de un acción de recargo de
    saldo.
</p>
<p>
    <u>Uso fraudulento</u>
</p>
<p>
    En el caso concreto en que una empresa realice un uso fraudulento o desleal
    de la aplicación, METADATA dará por finalizado el contrato, así como la
    prestación del servicio, reservándose el derecho de entablar cuantas
    acciones legales correspondan.
</p>
<p>
    <u>Información falsa</u>
</p>
<p>
    METADATA dará por finalizado el contrato con aquellos clientes que suban a
    la plataforma documentos manipulados y/o falsos. METADATA conocerá de estás
    malas prácticas por parte de los terceros participes en la relación de
    subcontratación que le unan con el CLIENTE, o bien por parte del servicio
    de validación de METADATA. En cualquier caso, la responsabilidad de subir
    información y/o documentos manipulados y/o falsos será en exclusiva del
    CLIENTE.
</p>
<p>
    <u>Desuso de la plataforma</u>
</p>
<p>
    METADATA puede considerar finalizado el contrato con un CLIENTE una vez
    hayan transcurrido 6 meses desde el agotamiento de la última recarga, o un
    año después de la realización de la misma sin que hubiera sido utilizada.
</p>
<ol>
    <li>
        <strong>DERECHO DE DESISTIMIENTO</strong>
    </li>
</ol>
<p>
    El CLIENTE tiene los mismos derechos y plazos para proceder a realizar la
    devolución y / o reclamar los posibles vicios o defectos que presente el
    servicio, tanto en modo en línea como fuera de línea.
</p>
<p>
    El CLIENTE dispone de un plazo de catorce días naturales, contados a partir
    de la fecha de recarga de saldo, para la devolución del mismo (artículo 71
    de la Ley 3/2014 de 27 de marzo).
</p>
<p>
    El derecho de desistimiento no podrá aplicarse cuando el cliente haya
    iniciado el uso del saldo recargado, y en caso de hacerlo solo le será
    devuelto el importe abonado menos el correspondiente a los servicios
    ofertados.
</p>
<p>
    Para ejercer el derecho de desistimiento, EL CLIENTE deberá notificarnos su
    decisión de desistir del contrato a través de una declaración inequívoca
    por ejemplo, una carta enviada por correo postal, fax o correo electrónico,
    le sugerimos se ponga en contacto con nosotros a través del correo
    electrónico administracion @metadata.es.
</p>
<p>
    Para cumplir el plazo de desistimiento, basta con que la comunicación
    relativa al ejercicio por parte del CLIENTE de este derecho sea enviada
    antes de que venza el plazo correspondiente.
</p>
<p>
    <strong>- Consecuencias del desistimiento:</strong>
</p>
<p>
    En caso de desistimiento por parte del CLIENTE, se dará por finalizado el
    contrato con METADATA y le devolveremos todos los pagos recibidos, salvo
    los gastos relativos a los servicios que haya disfrutado, sin ninguna
    demora indebida y, en todo caso, a más tardar 14 días naturales a partir de
    la fecha en la que se nos informe de la decisión de desistir del contrato.
</p>
<p>
    Procederemos a efectuar dicho reembolso utilizando el mismo medio de pago
    empleado por el CLIENTE para la transacción inicial, a no ser que el
    CLIENTE haya dispuesto expresamente lo contrario; en todo caso, no
    incurrirá en ningún gasto como consecuencia del reembolso.
</p>
<p>
    <strong>- Devolución del dinero por desistimiento:</strong>
</p>
<p>
    Todas las devoluciones de dinero por ejercicio del derecho de
    desistimiento, se realizarán a través del mismo medio que fue realizado el
    pago por el CLIENTE. No se aplicará ningún tipo de penalización por estos
    motivos.
</p>
<ol>
    <li>
        <strong>RECLAMACIONES</strong>
    </li>
</ol>
<p>
    Cualquier reclamación que el CLIENTE considere oportuna será atendida en la
    menor brevedad posible, pudiéndose realizar en las siguientes direcciones
    de contacto:
</p>
<p>
    Postal: Metadata S.L., C/ Graham Bell nº 6, Edif. Hevimar II Campanillas,
    2º, 6. 29590 - Málaga, - 29590 Málaga (Málaga)
</p>
<p>
    Teléfono: 952020222
</p>
<p>
    Mail: administracion@metadata.es
</p>
<p>
    <strong>
        Resolución de litigios en línea (Online Dispute Resolution)
    </strong>
</p>
<p>
    Conforme al Art. 14.1 del Reglamento (UE) 524/2013, la Comisión Europea
    facilita una plataforma de acceso gratuito para la resolución de conflictos
    online entre el CLIENTE y el METADATA, sin necesidad de recurrir a los
    tribunales de justicia, mediante la intervención de un tercero, llamado
    Organismo de resolución de litigios, que actúa de intermediario entre
    ambos. Este organismo es neutral y dialogará con ambas partes para lograr
    un acuerdo, pudiendo finalmente sugerir y/o imponer una solución al
    conflicto.
</p>
<p>
    Enlace a la plataforma ODR: http://ec.europa.eu/consumers/odr/
</p>
<ol>
    <li>
        <strong>FUERZA MAYOR</strong>
    </li>
</ol>
<p>
    Las partes no incurrirán en responsabilidad ante cualquier falta debida a
    causa mayor. El cumplimiento de la obligación se demorará hasta el cese del
    caso de fuerza mayor.
</p>
<ul>
    <li>
        <strong>COMPETENCIA</strong>
    </li>
</ul>
<p>
    El USUARIO no podrá ceder, transferir o transmitir los derechos,
    responsabilidades y obligaciones contratados en la venta.
</p>
<p>
    Si alguna estipulación de estas condiciones fuera considerada nula o de
    imposible cumplimiento, la validez, legalidad y cumplimiento del resto no
    se verán afectados de ninguna manera, ni sufrirán modificación de ningún
    modo.
</p>
<p>
    El USUARIO declara haber leído, conocer y aceptar las presentes Condiciones
    Generales en toda su extensión.
</p>
<ul>
    <li>
        <strong>MODIFICACIÓN Y NULIDAD DE CLÁUSULAS</strong>
    </li>
</ul>
<p>
    <u>Modificación</u>
</p>
<p>
    Las presentes condiciones de contratación podrán ser modificadas en
    cualquier momento. Los cambios podrán ser de cualquier naturaleza; se
    realizarán en caso de variaciones técnicas, cambios o mejoras tecnológicas,
    variación de las condiciones económica según evolución del mercado, entre
    otros.
</p>
<p>
    En caso de que la modificación suponga un incremento de los precios
    acordados o suponga una modificación en las responsabilidades del cliente,
    METADATA notificará los términos de la modificación y las variaciones de
    precio, siempre con como mínimo un (1) mes de antelación. En dicha
    comunicación el CLIENTE será informado de su posibilidad de dar por
    finalizado el contrato si no está de acuerdo con los cambios, si en el
    transcurso de ese periodo el CLIENTE no manifiesta su desacuerdo con las
    modificaciones, se entenderá que las acepta y quedará vinculado por ellas a
    partir de su entrada en vigor.
</p>
<p>
    Los cambios visuales y técnicos, así como la incorporación de nuevas
    funcionalidades, que no supongan un aumento de precio o una modificación de
    responsabilidad para el CLIENTE, no requerirán consentimiento previo del
    mismo.
</p>
<p>
    <u>Nulidad</u>
</p>
<p>
    Si alguna de las cláusulas presentes en estas condiciones de contratación
    fuese considerada anulable o nula de pleno derecho, se tendrá por no
    puesta, sin que su anulabilidad afecte la validez del contrato, y
    manteniendo todas las demás cláusulas su fuerza vinculante entre las
    partes.
</p>
<ol>
    <li>
        <strong>LEGISLACION APLICABLE</strong>
    </li>
</ol>
<p>
    Será de aplicación la legislación española vigente. Tratándose de una
    relación B2B, en caso de controversia entre las partes, con renuncia de su
    fuero correspondiente, ambas partes acuerdan que los Juzgados y Tribunales
    competentes para conocer el pleito serán los de la ciudad de Málaga.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        <br/>
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>ANEXO I</strong>
</p>
<p>
    <strong>CONDICIONES ECONÓMICAS</strong>
</p>
<p>
    Las condiciones económicas han sido establecidas en función de la
    información inicial facilitada por el CLIENTE, así como por la selección de
    servicios que ha elegido durante el proceso de contratación.
</p>
<ol>
    <li>
        <strong><u>Servicios contratados</u></strong>
    </li>
</ol>
<p>
    Los servicios que prestará METADATA al cliente son los siguientes, salvo
    que durante el proceso de la prestación del servicio se añadan otros, o se
    suprima alguno de los que aparecen en esta lista.
</p>
<ol>
    <li>
        Plataforma
    </li>
    <li>
        Validación
    </li>
    <li>
        Soporte
    </li>
    <li>
        Petición o confirmación automatizada de documentos
    </li>
</ol>
<ol>
    <li>
        <strong><u>Precios</u></strong>
    </li>
</ol>
<p>
    Los precios por recursos y cuota de alta se pueden consultar en la pantalla
    de resumen del módulo de pago, en el apartado de Costes.
</p>
<p>
    El precio fijado podrá variar si se produce una modificación sustancial de
    las condiciones iniciales presupuestadas al CLIENTE. Cualquier cambio de
    tarifa será comunicada al CLIENTE con una antelación mínima de 30 días,
    para que pueda aceptarla o rechazarla y por tanto dar por finalizado el
    presente contrato.
</p>
<ol>
    <li>
        <strong>Periodicidad de facturación</strong>
    </li>
</ol>
<p>
    La facturación se realizará en modalidad de servicio prepago o de recarga
    de saldo, por lo que se realizará con antelación al uso o consumo de las
    funcionalidades o servicios de la plataforma Metacontratas.
</p>
<p>
    El recargo de saldo se podrá realizar en cualquier momento, a través de
    cualquiera de los medios de pago puestos a disposición del cliente.
</p>
<ol>
    <li>
        <strong>Formas de pago</strong>
    </li>
</ol>
<p>
    El CLIENTE dispone de los siguientes medios de pago, pudiendo variar entre
    ellos según sus necesidades.
</p>
<ul>
    <li>
        <u>Domiciliación</u>
        . Al elegir esta opción el CLIENTE autoriza de forma expresa a METADATA
        para realizar cargos en la cuenta bancaria que facilite a estos
        efectos.
    </li>
    <li>
        <u>Transferencia</u>
    </li>
    <li>
        <u>Tarjeta de crédito</u>
    </li>
    <li>
        <u>Tarjeta debito</u>
    </li>
</ul>
<p>
    <u>Paypal</u>
</p>
<p>
    <u> </u>
</p>
<ol>
    <li>
        <strong>Gestión del saldo recargado.</strong>
    </li>
</ol>
<p>
    El CLIENTE dispondrá en todo momento de la información relacionada con su
    saldo de cliente. En el área de gestión de saldo podrá visualizar:
</p>
<ol>
    <li>
        Los conceptos por los cuales se ha descontado saldo.
    </li>
    <li>
        El precio aplicado a cada concepto.
    </li>
    <li>
        Los clientes o proveedores en nombre de los cuales se le ha descontado
        saldo.
    </li>
</ol>
<p>
    <u>Grupos de empresas:</u>
</p>
<p>
    Para facilitar la gestión de grupos de empresas, empresas vinculadas, o
    cualquier otro tipo de relación de colaboración que acarree la gestión del
    saldo por una de ellas, Metadata permite:
</p>
<ol>
    <li>
        Autorizar a descontar del saldo de una cuenta de CLIENTE, los gastos
        asociados a otras empresas. Siempre previa solicitud escrita.
    </li>
    <li>
        Poner un límite de gasto para las empresas autorizadas. Permitiendo un
        control de gasto.
    </li>
    <li>
        Retirar la autorización para descontar del saldo principal, los gastos
        de las empresas autorizadas. Esta acción no permitirá el reembolso de
        las cantidades disfrutadas por la empresa autorizada durante el tiempo
        que estuvo autorizada por el CLIENTE.
    </li>
</ol>
<p>
    <u>Empresas con distintos clientes o proveedores:</u>
</p>
<p>
    Todas las cuentas creadas para los distintos clientes descontarán del saldo
    de la cuenta principal del CLIENTE. Siempre habrá una única cuenta de
    saldo, por NIF.
</p>
<p>
    <u> </u>
</p>
<p>
    <strong>ANEXO II</strong>
</p>
<p>
    <strong>
        DESCRIPCIÓN DE LOS SERVICIOS, REQUISITOS TÉCNICOS Y CONDICIONES
        ESPECÍFICAS
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<ul>
    <li>
        <strong>PLATAFORMA </strong>
        <strong>METACONTRATAS®</strong>
    </li>
</ul>
<p>
    <u>a-. Requisitos técnicos</u>
</p>
<p>
    Para hacer uso de la plataforma Metacontratas® se debe tener en cuenta los
    siguientes requisitos técnicos mínimos:
</p>
<ol>
    <li>
        Disponer de conexión a internet
    </li>
    <li>
        Se aceptan todos los S.O.
    </li>
    <li>
        Navegadores, Chrome, Firefox, Explorer, Edge y Safari.
    </li>
    <li>
        Permitir la instalación de cookies técnicas. Si existe un bloqueo de
        cookies no podrá acceder a la plataforma, ni hacer uso de ella.
    </li>
</ol>
<p>
    <u>b-. Descripción del servicio y condiciones específicas</u>
</p>
<ol>
    <li>
        Acceso del cliente a la plataforma Metacontratas® de manera
        ininterrumpida durante la vigencia del contrato.
    </li>
    <li>
        El CLIENTE podrá subir cuanta documentación precise para el
        cumplimiento de las obligaciones adquiridas con el CLIENTE PRINCIPAL
        durante su vinculación contractual en el ámbito de subcontratación.
    </li>
    <li>
        EL CLIENTE podrá descargar copia de la información que trata en
        Metacontratas® en cualquier momento.
    </li>
    <li>
        El CLIENTE podrá facilitar acceso a la plataforma a cuantos usuarios
        estime oportuno, sean usuarios internos o externos.
    </li>
</ol>
<p>
    <strong> </strong>
</p>
<ul>
    <li>
        <strong>VALIDACIÓN</strong>
    </li>
</ul>
<p>
    <u>a-. Requisitos técnicos</u>
</p>
<ol>
    <li>
        Contar con una cuenta activa de Metacontratas®
    </li>
    <li>
        Todas las condiciones técnicas para el acceso y uso a la plataforma.
    </li>
</ol>
<p>
    <u>b-. Descripción</u>
</p>
<p>
    Con la prestación de este servicio METADATA se compromete a revisar la
    documentación insertada por el CLIENTE en Metacontratas® .
</p>
<p>
    La revisión de la documentación consistirá en comprobar que:
</p>
<ul>
    <li>
        El documento insertado corresponde con la descripción de tipo de
        documento que dice ser.
    </li>
    <li>
        Cumple con los criterios de validación establecidos por la empresa
        principal.
    </li>
    <li>
        Que la información que contiene es suficiente para acreditar la
        información solicitada por la empresa principal.
    </li>
</ul>
<p>
    <u>c-. Condiciones específicas</u>
</p>
<ul>
    <li>
        La revisión de la documentación, entre otras cosas por realizarse de
        forma remota, y tendrá las siguientes particularidades:
        <ul>
            <li>
                .El proceso de validación no incluye la evaluación de la
                autenticidad de los documentos.
            </li>
            <li>
                El proceso de validación no incluye un análisis de idoneidad
                sobre el procedimiento de obtención de los documentos
                insertados en la Metacontratas® ni podrá comprobar si la acción
                que acredita el documento (formación, reconocimiento,
                evaluación, etc.), se realizó de forma correcta,
                responsabilidad de la persona o empresa certificadora del mismo
            </li>
            <li>
                METADATA pondrá el máximo celo en la revisión de la
                documentación. No obstante, si se produjera algún error en este
                proceso de validación, METADATA no será responsable directo del
                mismo, siendo en último lugar responsable el usuario que ha
                subido la información a Metacontratas® . METADATA no estará
                obligada a indemnizar al CLIENTE por este concepto.
            </li>
            <li>
                La revisión de la documentación se realizará de forma habitual
                en un plazo de 24 horas laborables. No siendo este un plazo
                límite, ni máximo, por lo que en algunos casos el plazo de
                validación puede ser mayor, no siendo este un motivo de
                indemnización en favor del CLIENTE.
            </li>
            <li>
                El horario de prestación del servicio de revisión documental
                será de 9.00 a 18.00 horas de Lunes a Jueves y de 9.00 a 15
                horas los Viernes. Los sábados y domingos, así como los
                festivos de carácter nacional no se considerarán laborables.
                <ul>
                    <li>
                        <strong>SOPORTE</strong>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>
    <u>a-. Requisitos técnicos</u>
</p>
<ol>
    <li>
        Contar con una cuenta activa de Metacontratas®
    </li>
    <li>
        Todas las condiciones técnicas para el acceso y uso a la plataforma.
    </li>
    <li>
        Disponer de conexión telefónica y de internet.
    </li>
    <li>
        Tener activa la opción de llamadas a números de tarificación adicional.
    </li>
</ol>
<p>
    <u> </u>
</p>
<p>
    <u>b-. Descripción</u>
</p>
<p>
    Este servicio ha sido diseñado como una forma de apoyo y acompañamiento
    para el CLIENTE y sus usuarios, con motivo del uso y utilización de
    Metacontratas®
</p>
<p>
    METADATA dará soporte telefónico al cliente, en aquellas dudas que le
    pudieran surgir durante el proceso de instalación, así como sobre el
    funcionamiento del programa.
</p>
<p>
    <u>c-. Condiciones específicas</u>
</p>
<p>
    METADATA, dará soporte técnico al CLIENTE, con las siguientes
    consideraciones:
</p>
<ol>
    <li>
        El soporte se prestará siempre y sin excepción, de forma telefónica.
    </li>
    <li>
        Las llamadas a la línea de soporte de METADATA son de tarificación
        adicional, siempre supondrán un costo adicional para el CLIENTE. El
        coste adicional es conforme a la legislación vigente.
    </li>
    <li>
        El horario de prestación del servicio de soporte telefónico será de
        9.00 a 18.00 horas de Lunes a Jueves y de 9.00 a 15 horas los Viernes.
        Los sábados y domingos, así como los festivos de carácter nacional no
        se considerarán laborables.
    </li>
    <li>
        METADATA se reserva el derecho a modificar, en cualquier momento, las
        condiciones específicas del servicio de soporte (horario,
        procedimiento, costo).
    </li>
</ol>
<p>
    En caso de modificación de las condiciones económicas, METADATA comunicará
    al cliente con suficiente antelación y de forma efectiva los cambios
    realizados. Si el cliente no manifiesta su desacuerdo, se entenderá que
    acepta las nuevas condiciones del servicio.
</p>
<p>
    En ningún caso se facturará ninguna cantidad de forma retroactiva y sin
    haber comprobado que el CLIENTE ha sido informado.
</p>
<ol>
    <li>
        De forma excepcional, METADATA podrá solicitar al CLIENTE el acceso
        remoto al equipo del USUARIO que tenga alguna incidencia en el uso de
        la plataforma, con el fin de colaborar con la resolución de incidencias
        técnicas.
    </li>
</ol>
<ul>
    <li>
        <strong>PETICIÓN</strong>
        <strong>
            AUTOMATIZADA DE DOCUMENTOS A ORGANISMOS Y ENTIDADES PÚBLICAS
        </strong>
    </li>
</ul>
<p>
    <u>a-. Requisitos técnicos</u>
</p>
<ol>
    <li>
        <strong>Generales</strong>
    </li>
</ol>
<ul>
    <li>
        Disponer de conexión a internet de forma permanente
    </li>
    <li>
        Tener un usuario activo de Metacontratas®
    </li>
    <li>
        Contratar el servicio de “petición automática de documentos a
        administraciones públicas” con METADATA.
    </li>
    <li>
        Opción 1. Autorizar a METADATA como autorizado secundario ante las
        administraciones correspondientes.
    </li>
    <li>
        Opción 2. Disponer de un certificado activo y válido para cada entidad
        emisora de información. En el caso de la Seguridad Social y a día de
        hoy es
        <a
            href="http://www.seg-social.es/Internet_1/Sede/Certificadosdigital47735/OtrasAutoridadesdeC51674/51676"
        >
            http://www.seg-social.es/Internet_1/Sede/Certificadosdigital47735/OtrasAutoridadesdeC51674/51676
        </a>
    </li>
    <li>
        El certificado no puede estar caducado, cada vez que se renueve el
        certificado o cambie la contraseña del mismo se tienen que actualizar
        los datos en Metacontratas®
    </li>
</ul>
<ol start="2">
    <li>
        <strong>Autorización a METADATA</strong>
    </li>
</ol>
<ul>
    <li>
        El cliente deberá autorizar a METADATA, para que sea un autorizado
        secundario ante la/las entidades de las cuales quiera recibir
        confirmación automatizada de los datos.
    </li>
</ul>
<ol start="3">
    <li>
        <strong>Versión web</strong>
    </li>
</ol>
<ul>
    <li>
        Puede utilizar cualquier navegador de internet
    </li>
    <li>
        Puede utilizar cualquier sistema operativo
    </li>
    <li>
        Gestionar el alta de su certificado digital en Metacontratas®
    </li>
</ul>
<ol start="4">
    <li>
        <strong>Aplicación de escritorio. MetaBuzon</strong>
    </li>
</ol>
<ul>
    <li>
        Solo valido para sistemas operativos Windows
    </li>
    <li>
        Solo funciona en Windows 7, y posteriores
    </li>
    <li>
        Instalar los complementos requeridos por la aplicación. El instalador
        de MetaBuzón facilitará este proceso. Actualmente se requiere Microsoft
        .Net Framework 4.0
    </li>
    <li>
        Instalar el programa MetaBuzon.
    </li>
    <li>
        Configurar la conexión entre MetaBuzon y Metacontratas®
    </li>
    <li>
        Tener arrancados el ordenador y el programa a la hora que se programen
        las peticiones de información a los distintos Organismos.
    </li>
</ul>
<p>
    <u> </u>
</p>
<p>
    <u>b-. Descripción</u>
</p>
<p>
    Esta es una funcionalidad que permite una conexión con los sistemas
    informáticos de instituciones públicas españolas. Actualmente la
    funcionalidad permite conectarse con la Seguridad Social (en adelante SS) y
    la Agencia Tributaria (en adelante AEAT). Más adelante y según la evolución
    de la e-administración se podrá acceder a otras instituciones públicas.
</p>
<p>
    El fin de la conexión es solicitar (solo consulta) e incorporar en
    Metacontratas® documentos del CLIENTE, utilizando su certificado digital.
</p>
<p>
    <u>c-. Condiciones específicas</u>
</p>
<ul>
    <li>
        Solo se podrán gestionar aquellos documentos que se especifiquen en
        Metacontratas®. Esta información podrá variar con el tiempo, bien para
        incluir nuevos documentos, bien para eliminar aquellos que sean
        suprimidos por la administración, o modificados y que dicha
        modificación afecte al procesamiento automatizado de los mismos.
    </li>
    <li>
        El fin de esta funcionalidad es:
        <ul>
            <li>
                Automatizar la solicitud de información a distintos organismos
                para que la empresa principal que subcontrata al CLIENTE, pueda
                conocer con mucha frecuencia (incluso diaria), el estado de
                cumplimiento del CLIENTE ante los mismos, respecto a la empresa
                o a los trabajadores que participan en la relación de
                subcontratación.
            </li>
            <li>
                Dar garantía al CLIENTE PRINCIPAL que subcontrata al CLIENTE,
                de que los documentos de la SS y AEAT que se les hace llegar,
                son originales y no han podido sufrir ningún tipo de
                manipulación.
            </li>
        </ul>
    </li>
    <li>
        Esta funcionalidad requiere que:
    </li>
</ul>
<p>
    <strong>Opción 1</strong>
    : Que el cliente nombre a METADATA ante los distintos organismos públicos
    y/o administraciones (según sea necesario) para que actúe como “Autorizado
    secundario”.
</p>
<p>
    Debido a un requisito formal por parte de la administración pública y sus
    organismos oficiales, la autorización se realiza a nombre de Francisco
    Picón Domínguez, actual administrador de METADATA S.L., quien con su
    certificado personal solicitará los datos para que sean gestionados en
    METADATA.
</p>
<p>
    <strong>Opción 2:</strong>
    el cliente comunique a METADATA el oportuno certificado digital, bien sea
    que lo facilite a través de la plataforma Metacontratas® o en su módulo de
    escritorio, Metabuzon.
</p>
<ul>
    <li>
        Actualmente el CLIENTE puede usar esta funcionalidad eligiendo una
        entre las siguientes opciones técnicas que ofrece METADATA:
        <ul>
            <li>
                Autorizar al titular de METADATA para que solicite la
                información a modo de “Autorizado Secundario” permitiendo
                obtener la información requerida sin que el CLIENTE tenga que
                facilitar por ningún medio su certificado electrónico.
            </li>
            <li>
                Instalar en los equipos del CLIENTE el módulo MetaBuzon, donde
                se deberá introducir el certificado y la contraseña. Al
                utilizar esta opción, la información relativa al certificado
                digital no saldrá de las instalaciones del CLIENTE.
            </li>
            <li>
                Usar la funcionalidad directamente a través de la plataforma
                Metacontratas®. Esta opción requiere que el cliente introduzca
                los datos y contraseña del certificado en la plataforma, de tal
                manera que esa información será almacenada en los servidores de
                METADATA.
            </li>
        </ul>
    </li>
    <li>
        METADATA en ningún caso cederá estos certificados ni contraseñas a un
        tercero.
    </li>
    <li>
        METADATA ha implementado las medidas de seguridad técnicas y
        administrativas oportunas para guardar la seguridad y confidencialidad
        de los datos del certificado del cliente. Las contraseñas se
        almacenarán encriptadas evitando el acceso no autorizado, incluso en
        caso del posible acceso de un intruso o fuga/robo de información.
    </li>
    <li>
        METADATA utilizará la autorización otorgada por el cliente con el único
        fin de acceder a la información necesaria para la prestación del
        servicio, no accediendo a ningún otro tipo de información, ni
        realizando cualquier otra actuación.
    </li>
    <li>
        METADATA utilizará estos certificados única y exclusivamente a través
        de estos programas y única y exclusivamente para la petición a la SS u
        otras instituciones y para la inserción en su base de datos, de los
        documentos que se establezcan y que queden informados en el propio
        programa y visibles para el CLIENTE.
    </li>
    <li>
        Si por cualquier motivo, este módulo automatizado no pudiera recuperar
        el documento del organismo correspondiente o no pueda finalmente
        insertarlo finalmente en Metacontratas® no obligará a METADATA a
        indemnizar al CLIENTE por las repercusiones que pudiera tener la no
        inserción en tiempo de este documento. No obstante el CLIENTE podrá
        rescindir el contrato alegando esta circunstancia o por cualquier otro
        criterio que considere que no cumplen los mínimos de calidad deseados.
    </li>
</ul>