<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      lang="es">
    <composite:interface> 
        <composite:attribute name="idd" />
        <composite:attribute name="value" />
        <composite:attribute name="disabled" />
        <composite:editableValueHolder name="spinner" targets="#{cc.attrs.idd}" />
        <composite:clientBehavior name="valueChange" targets="#{cc.attrs.idd}" event="valueChange"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}">
            <p:inputTextarea id="#{cc.attrs.idd}" value="#{cc.attrs.value}"
                             disabled="#{cc.attrs.disabled}" counterTemplate="{0} #{msg.campo0042}" >
                <composite:insertChildren/>
            </p:inputTextarea>
            <p:message for="#{cc.attrs.idd}" display="tooltip" />
        </div>
    </composite:implementation>
</html>