<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Paradise - Error</title>
    </h:head>

    <h:body styleClass="exception-body notfound">
        <div class="exception-panel">
            <div class="exception-panel-content">
                <p:graphicImage name="images/exception/404-icon.png" library="paradise-layout" />
                <h1>404</h1>
                <p>The requested page cannot be found.</p>
            </div>

            <div class="exception-panel-footer">
                <p:button value="DASHBOARD" styleClass="blue-btn" outcome="/dashboard" />
            </div>
        </div>

        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="paradise-layout" />
    </h:body>

</html>