<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templateContenido.xhtml"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="contenido">       

        <style>
            .campo{
                font-size: medium;
                font-family: serif;
                font-style: italic;
            }
        </style>

        <center>
            <div style="padding-top: 30px; padding-bottom: 20px; padding-left: 20px">
                <p:outputLabel style="font-weight: bold; font-size: 20px; padding-top: 50px" rendered="#{crearEditarGrupo.edicion}">Editar grupo</p:outputLabel>
                <p:outputLabel style="font-weight: bold; font-size: 20px; padding-top: 50px" rendered="#{!crearEditarGrupo.edicion}">Crear grupo</p:outputLabel>
                <h:form id="formulario">
                    <p:growl life="5000" id="text" showDetail="true" sticky="true" severity="info, error" /> 
                    <h:panelGrid columns="2" columnClasses="label, value" style="padding-bottom: 10px; padding-top: 20px">
                        <h:outputText value="Nombre: " class="campo"/>
                        <p:inputText id="Nombre" value="#{crearEditarGrupo.grupo.nombre}" required="true"/>
                    </h:panelGrid>
                    <h3 style="margin-top: 20px; margin-bottom: 20px">Usuarios</h3>
                    <p:pickList id="pickList" value="#{crearEditarGrupo.usuarios}" var="usuario" itemLabel="#{usuario}" itemValue="#{usuario}" style="margin-bottom: 20px" responsive="true">
                        <f:facet name="sourceCaption">
                            <h:outputLabel value="Dentro" />
                        </f:facet>
                        <f:facet name="targetCaption">
                            <h:outputLabel value="Fuera" />
                        </f:facet>
                    </p:pickList>

                    <p:commandButton value="Guardar" update="text formulario" action="#{crearEditarGrupo.botonClickado()}" rendered="#{crearEditarGrupo.edicion}"/>
                    <p:commandButton value="Crear" update="text formulario" action="#{crearEditarGrupo.botonClickado()}" rendered="#{!crearEditarGrupo.edicion}"/><br/><br/>
                </h:form>
            </div>
        </center>

    </ui:define>
</ui:composition>