<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templateContenido.xhtml"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="contenido">       

        <style>
            .campo{
                font-size: medium;
                font-family: serif;
                font-style: italic;
            }
        </style>

        <center>
            <div style="padding-top: 30px; padding-bottom: 20px; padding-left: 20px">
                <p:outputLabel style="font-weight: bold; font-size: 20px; padding-top: 50px" rendered="#{crearEditarUsuarios.edicion}">Editar usuairo</p:outputLabel>
                <p:outputLabel style="font-weight: bold; font-size: 20px; padding-top: 50px" rendered="#{!crearEditarUsuarios.edicion}">Crear usuario</p:outputLabel>
                <h:form id="formulario">
                    <p:growl life="5000" id="text" showDetail="true" sticky="true" severity="info, error" /> 
                    <h:panelGrid columns="2" columnClasses="label, value" style="padding-bottom: 10px; padding-top: 20px">
                        <h:outputText value="Nombre: " class="campo"/>
                        <p:inputText id="Nombre" value="#{crearEditarUsuarios.user.persona.nombre}" required="true"/>

                        <h:outputText value="Apellidos: " class="campo" />
                        <p:inputText id="Apellidos" value="#{crearEditarUsuarios.user.persona.apellidos}" required="true" />

                        <h:outputText value="Email: " class="campo"/>
                        <p:inputText id="Email" value="#{crearEditarUsuarios.user.email}" required="true"/>

                        <h:outputText value="DNI: " class="campo"/>
                        <p:inputText id="DNI" value="#{crearEditarUsuarios.user.persona.dni}" required="true"/>

                        <h:outputText value="Contraseña: " class="campo"/>
                        <p:inputText id="Contraseña" value="#{crearEditarUsuarios.pssw}" type="password" required="true"/>

                        <h:outputText value="Contraseña nueva: " class="campo" rendered="#{crearEditarUsuarios.edicion}"/>
                        <p:inputText id="ContraseñaNueva" value="#{crearEditarUsuarios.psswNueva}" type="password"  rendered="#{crearEditarUsuarios.edicion}"/>

                        <h:outputText value="Repita contraseña: " class="campo" rendered="#{crearEditarUsuarios.edicion}"/>
                        <p:inputText id="ContraseñaNueva2" value="#{crearEditarUsuarios.psswNueva2}" type="password" rendered="#{crearEditarUsuarios.edicion}"/>
                    </h:panelGrid>

                    <p:commandButton value="Guardar" update="text formulario" action="#{crearEditarUsuarios.botonClickado()}" rendered="#{crearEditarUsuarios.edicion}"/>
                    <p:commandButton value="Crear" update="text formulario" action="#{crearEditarUsuarios.botonClickado()}" rendered="#{!crearEditarUsuarios.edicion}"/><br/><br/>
                </h:form>
            </div>
        </center>

    </ui:define>
</ui:composition>