<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templateContenido.xhtml"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="head">
    </ui:define>

    <ui:define name="contenido">       


        <div class="ui-g dashboard">
            <center>
                <div>
                    <div style="font-weight: bold; font-size: 40px; margin-bottom: 30px">
                        <p:outputLabel >Fichadas</p:outputLabel><br/>
                    </div>

                    <div>
                        <h:form rendered="#{!dashboardController.activo}" id="fichar"> 
                            <p:growl life="5000" id="texto" showDetail="true" sticky="true"/>
                            <p:outputLabel style="font-weight: bold; font-size: 20px">Nueva fichada</p:outputLabel><br/>
                            <p:dataGrid var="tipoFichada" value="#{dashboardController.tipoFichadas}" columns="#{dashboardController.tipoFichadas.size()}" layout="grid" rows="1" id="tipoFichada">
                                <f:facet name="header">
                                    Tipo de fichada
                                </f:facet>
                                <p:panel header="#{tipoFichada.nombre}" style="text-align:center">
                                    <h:panelGrid columns="1" style="width:100%">
                                        <p:commandButton action="#{dashboardController.nuevaFichada(tipoFichada)}" value="Fichar" onclick="funtion(){location.reload}"/>
                                    </h:panelGrid>
                                </p:panel>
                            </p:dataGrid>
                        </h:form>
                    </div>
                </div>
                <div style="margin-top: 30px; margin-bottom: 30px" >
                    <h:form rendered="#{dashboardController.activo}" id="contador">
                        <p:growl life="5000" id="texto" showDetail="true" sticky="true"/>
                        <h:outputText id="count" value="#{dashboardController.tiempoEscrito()}" />
                        <p:poll interval="60" update="count" />
                        <p:commandButton value="Fin" action="#{dashboardController.finFichada()}" style="margin-left: 20px" onclick="funtion(){location.reload}"/>
                    </h:form>
                </div>
                <div>
                    <h:form id="historial" >
                        <p:outputLabel value="Historial" style="font-size: 20px"/>
                        <p:growl life="5000" id="texto" showDetail="true" sticky="true"/> 
                        <p:dataTable id="tabla" class="ColorAzulSuaveMetadata" value="#{dashboardController.fichadas}" var = "fichada" style="padding-top:20px" tableStyle="width:auto">
                            <p:column>
                                <f:facet name="header">ID</f:facet>
                                    #{fichada.idFichada}
                            </p:column>
                            <p:column>
                                <f:facet name="header">Tipo</f:facet>
                                    #{fichada.tipoFichada.nombre}
                            </p:column>
                            <p:column>
                                <f:facet name="header">Fecha de inicio</f:facet>
                                    #{fichada.fechaInicioParseada()}
                            </p:column>
                            <p:column>
                                <f:facet name="header">Duración </f:facet>
                                    #{fichada.tiempoEscrito()}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
            </center>
        </div>


    </ui:define>

    <ui:define name="scriptsPieBase"/>

</ui:composition>