<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Paradise - Error</title>
    </h:head>

    <h:body styleClass="exception-body error">
        <div class="exception-panel">
            <div class="exception-panel-content">
                <p:graphicImage name="images/exception/error-icon.png" library="paradise-layout" />
                <h1>#{msg.campo0053}</h1>
                <p>#{msg.campo0052}</p>
            </div>

            <div class="exception-panel-footer">
                <p:button value="DASHBOARD" styleClass="blue-btn" outcome="/dashboard" />
            </div>
        </div>

        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="paradise-layout" />
    </h:body>

    <!-- Esto esta porque cuando se redirige a esta pagina por una excepcion por ajax, 
     no esta pillando las clases bien -->
    <h:outputScript target="head">
        document.body.className = "exception-body error";
    </h:outputScript>
</html>