<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templateContenido.xhtml"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="contenido">  
        <style>
            .campo{
                font-size: medium;
                font-family: serif;
                font-style: italic;
            }
        </style>

        <center>
            <div style="padding-top: 50px; padding-bottom: 20PX">
                <h:form id="form" >
                    <p:growl life="5000" id="texto" showDetail="true" sticky="true"/> 
                    <p:outputLabel style="font-weight: bold; font-size: 20px">Grupos</p:outputLabel>

                    <p:dataTable id="tabla" class="ColorAzulSuaveMetadata" value="#{gruposController.grupos}" var = "grupo" style="padding-top:20px" tableStyle="width:auto">
                        <p:column>
                            <f:facet name="header">ID</f:facet>
                                #{grupo.idGrupo}
                        </p:column>
                        <p:column>
                            <f:facet name="header">Nombre</f:facet>
                                #{grupo.nombre}
                        </p:column>
                        <p:column>
                            <f:facet name="header">Usuarios</f:facet>
                                #{gruposController.obtenerUsuarios(grupo)}
                        </p:column>
                        <p:column>
                            <p:commandButton action="#{gruposController.crearEditar(grupo)}" value="Editar"/>
                        </p:column>
                        <p:column>
                            <p:commandButton  value="Eliminar" action="#{gruposController.eliminarGrupo(grupo)}" update="@form"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
            <p:commandButton value="Crear Grupo" action="#{gruposController.crearEditar(null)}"/> <br/><br/>
        </center>



    </ui:define>
</ui:composition>
