<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata"
                template="/WEB-INF/template.xhtml">

    <ui:define name="metadata">
        <f:viewAction action="#{loginController.procesarParametros}" />
    </ui:define>

    <ui:define name="content">
        <p:outputPanel styleClass="login-body">
            <h:form id="form">
                <p:growl  id="texto" showDetail="true" sticky="true" /> 
                <div class="login-panel ui-fluid" style="border-radius: 40px; box-shadow: 12px 11px 23px #272727;">
                    <div class="ui-g">
                        <div class="ui-g-12 logo-container">
                            <!--<p:graphicImage name="img/logo-metacontratas.png"  library="metadata" styleClass="logo"  style="margin-left: -15px;"/>-->                             
                            <p:graphicImage name="images/login/icon-login.png" library="paradise-layout" styleClass="login-icon" />
                            <h2 style="font-weight: bold">Proyecto vacío</h2>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="usuario_login" value="Usuario"/>
                            <div class="input-wrapper">
                                <p:inputText id="usuario_login" placeholder="Username" value="#{loginController.usuario}"/>
                                <i class="fa fa-user" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="password_login" value="Password" />
                            <div class="input-wrapper">
                                <p:password id="password_login" placeholder="Password" feedback="false" value="#{loginController.password}"/>
                                <i class="fa fa-lock" />
                            </div>
                        </div>
                        <div>
                            <p:commandLink class="ui-g-12 chkbox-container" value="¿No tienes cuenta? ¡Registrate!" action="#{loginController.registrar()}"/>
                        </div>
                        <div class="ui-g-12 button-container">                        
                            <p:commandButton  value="Aceptar" styleClass="blue-btn raised-btn" action="#{loginController.comprobar()}" update="@form" id="aceptar"/>
                        </div>
                        <div class="ui-g-12 button-container">                        
                            <p:messages/>
                        </div> 

                        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="paradise-layout" />
                    </div>
                </div>
            </h:form>

        </p:outputPanel>
    </ui:define>
</ui:composition>