<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:metadata="http://xmlns.jcp.org/jsf/composite/metadata"
                template="/WEB-INF/template.xhtml">


    <ui:define name="content">
        <p:outputPanel styleClass="login-body">
            <h:form id="form">
                <p:growl life="5000" id="text" showDetail="true" sticky="true" severity="info, error" />
                <div class="login-panel ui-fluid" style="border-radius: 40px; box-shadow: 12px 11px 23px #272727;">
                    <div class="ui-g">
                        <div class="ui-g-12 logo-container">                             
                            <p:graphicImage name="images/login/icon-login.png" library="paradise-layout" styleClass="login-icon" />
                            <h2 style="font-weight: bold">Registrate</h2>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="email_login" value="Nombre"/>
                            <div class="input-wrapper">
                                <p:inputText id="email_login" placeholder="Email" required="true" value="#{registroController.nombre}"/>
                                <i class="fa fa-user" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="apellidos_login" value="Apellidos"/>
                            <div class="input-wrapper">
                                <p:inputText id="apellidos_login" required="true" placeholder="Apellidos" value="#{registroController.apellidos}"/>
                                <i class="fa fa-user" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="dni_login" value="Dni"/>
                            <div class="input-wrapper">
                                <p:inputText id="dni_login" required="true" placeholder="Dni" value="#{registroController.dni}"/>
                                <i class="fa fa-user" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="usuario_login" value="Usuario"/>
                            <div class="input-wrapper">
                                <p:inputText required="true" id="usuario_login" placeholder="Username" value="#{registroController.email}"/>
                                <i class="fa fa-user" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="password_login" value="Password" />
                            <div class="input-wrapper">
                                <p:password required="true" id="password_login" placeholder="Password" feedback="false" value="#{registroController.password}"/>
                                <i class="fa fa-lock" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel for="password2_login" value="Repita password"/>
                            <div class="input-wrapper">
                                <p:password required="true" id="password2_login" placeholder="Password" feedback="false" value="#{registroController.password2}"/>
                                <i class="fa fa-lock" />
                            </div>
                        </div>

                        <div class="ui-g-12 button-container">                        
                            <p:commandButton  value="Registrarse" styleClass="blue-btn raised-btn" action="#{registroController.registrar()}" update="text form" id="registrar"/>
                            <p:commandButton  value="Login" styleClass="blue-btn raised-btn" action="#{registroController.volverLogin()}" id="login"/>
                        </div>

                        <div class="ui-g-12 button-container">                        
                            <p:messages/>
                        </div> 

                        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="paradise-layout" />
                    </div>
                </div> 
            </h:form>
        </p:outputPanel>
    </ui:define>
</ui:composition>
