<ui:composition

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pv="http://primefaces.org/paradise"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <o:importConstants type="es.metadata.proyectobase.security.Rol"/>

    <div class="layout-menu-wrapper #{guestPreferences.darkMenu ? 'layout-menu-dark' : null}">
        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="layout-menu-container">
                    <h:form id="menuform">
                        <div class="buscar-contenedor">
                            <p:inputText type="text" id="buscar-menu" placeholder="Type to search" onkeyup="busqueda()"/>
                        </div>
                        <pv:menu id="pvMenu" >
                            <p:menuitem id="pm_dashboard" value="Dashboard" icon="fa fa-home" outcome="/dashboard" />
                            <p:menuitem id="pm_usuarios" value="Usuarios" icon="fa fa-user-circle" outcome="/usuarios" />
                            <p:menuitem id="pm_grupos" value="Grupos" icon="fa fa-users" outcome="/grupos" />
                        </pv:menu>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
    <h:outputScript name="js/paginas/menu.js" library="metadata"/>
</ui:composition>