<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
        <ui:insert name="head"/>
    </ui:define>

    <ui:define name="content">
        <p:outputPanel styleClass="layout-wrapper #{guestPreferences.slimMenu ? 'layout-menu-slim' : (guestPreferences.overlayMenu ? 'layout-menu-overlay' : 'layout-menu-static')}">
            <ui:include src="./topbar.xhtml" />

            <p:outputPanel styleClass="layout-main">
                <ui:include src="./menu.xhtml" />

                <p:outputPanel styleClass="layout-content">
                    <ui:insert name="contenido"/>
                </p:outputPanel>
            </p:outputPanel>
        </p:outputPanel>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <!-- ============================================================================================= -->
        <!--Monitor y ventana que indican si ha caducado la session-->
        <p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{(session.maxInactiveInterval * 1000) - 2000}" />
        <p:dialog header="#{msg.campo0038}" widgetVar="sessionTimeOutDialog" style="text-align: center"
                  modal="true" position="center" closable="false" width="400" visible="false"  >
            <h:outputText value="#{msg.campo0036}"/><br />
            <h:outputText value="#{msg.campo0037}" /><br /><br />
            <input id="confirmBackToLogin" type="button" value="#{msg.campo0039}"
                   onclick="window.location = '#{facesContext.externalContext.requestContextPath}';" />
        </p:dialog>

        <h:outputStylesheet name="css/nanoscroller.css" library="paradise-layout" />
        <h:outputStylesheet name="css/animate.css" library="paradise-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="paradise-layout" />

        <!--El rendimiento se verá afectado en la fase de desarrollo, pues carga todas las hojas de estilo, pero en producción sólo cargará la master-->
        <c:if test="#{applicationBean.esHostProduccion()}">
            <h:outputStylesheet name="css/master-auto-generated.css" library="metadata" />
        </c:if>
        <c:if test="#{applicationBean.esHostDesarrollo()}">
            <!--Componentes-->
            <h:outputStylesheet name="css/paginas/login.css" library="metadata" />
        </c:if>
    </ui:define>

    <ui:insert name="scriptsPie"/>

</ui:composition>