<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/WEB-INF/templateContenido.xhtml">

    <ui:define name="head">
        <ui:insert name="head"/>
    </ui:define>

    <ui:define name="contenido">
        <ui:insert name="variables"/>

        <p:outputPanel id="contenedorPlantilla" class="ui-g"> 
            <div class="ui-g-12">
                <h:form>
                    <ui:insert name="migas"/>
                </h:form>
            </div>

            <div class="ui-g-12" >

                <h:form id="formDetalle">
                    <div class="card card-w-title ui-g-12 ui-md-12 ui-lg-12" style="overflow: hidden">
                        <p:outputPanel class="imagenDetalle ui-g-12 ui-md-3 ui-lg-3">
                            <ui:insert name="imagenCabecera"/>
                        </p:outputPanel>
                        <div style="display: inline-block;" id="message_header" class="ui-g-12 ui-md-9 ui-lg-9">
                            <h1 class="tituloConBotones">
                                <ui:insert name="titulo"/>
                            </h1>
                            <p:outputPanel class="botonesAcciones" style="float: right;">
                                <ui:insert name="tituloBotones"/>
                            </p:outputPanel>

                            <!-- <p:messages id="messages" closable="true" globalOnly="true" autoUpdate="false" style="display: inline-block; margin-left: 15px"/>-->
                        </div>
                        <!--<c:if test="#{tieneTabs}">-->
                        <div style="display: grid; float: right;" class="ui-g-12 ui-md-9 ui-lg-9">
                            <ui:insert name="datosGenerales"/>
                        </div>
                        <!--</c:if>-->
                    </div>

                    <div class="ui-g-12 ui-g-nopad" >
                        <c:if test="#{tieneTabs}">
                            <div class="card card-w-title MarginBottom0 contendorTabs " >
                                <c:if test="#{tieneTabs}">
                                    <div style="display: grid; border: none;">
                                        <p:outputPanel styleClass="ui-g-12 MarginLeft0" style="padding: 0px;">
                                            <ui:insert name="tabsBotones"/>
                                        </p:outputPanel>
                                    </div>
                                </c:if>
                            </div>
                        </c:if>

                        <c:if test="#{!tieneTabs}">
                            <div class="ui-g-12 ui-lg-6" >
                                <ui:insert name="colIzq"/>
                            </div>
                            <div class="ui-g-12 ui-lg-6" >
                                <ui:insert name="colDer"/>
                            </div>

                            <div class="ui-g-12 ui-lg-12" >
                                <ui:insert name="panelCompleto"/>
                            </div>
                        </c:if>

                        <c:if test="#{tieneTabs}">
                            <p:tabView id="pestana" widgetVar="tab" class="ocultarTabs" dynamic="true" style="margin: -4px; margin-top: 3px;" cache="false">
                                <ui:insert name="tabsPaneles"/>
                            </p:tabView>
                        </c:if>
                        <ui:insert name="filaAbajo"/>

                        <div class="ui-g-12" >
                            <ui:insert name="pie"/>
                        </div>
                    </div>
                </h:form>
            </div>

            <ui:insert name="dialogo"/>
        </p:outputPanel>
        <p:blockUI id="blockPlantilla" widgetVar="blockUI"  block="contenedorPlantilla" trigger="@(.botonBuscar) @(.botonRecargar)">
            <div id="loaderPlantilla" class="spinner-plantilla">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </p:blockUI>
    </ui:define>

    <ui:define name="scriptsPieBase">
        <script>
            $(function () {
                $("#message_header .ui-messages").hide();
            });

            function showTab(index) {
                PF('tab').select(index);
            }

            function comprobar() {

                $("ul.mensajeTab").each(function (index, value) {
                    $(value).nextAll(':lt(2)').attr('style', 'color: #f98b8b !important; display: inline !important; position: relative; z-index:47');
                });
            }

        </script>
        <ui:insert name="scriptsPie"/>

    </ui:define>
</ui:composition>