<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/WEB-INF/templateContenido.xhtml">

    <ui:define name="head">
        <ui:insert name="head"/>
    </ui:define>

    <ui:define name="contenido">
        <ui:insert name="variables"/>

        <div class="ui-g">
            <div class="ui-g-12">
                <h:form>
                    <ui:insert name="migas"/>
                </h:form>
            </div>

            <div class="ui-g-12" >
                <h:form id="formCabecera">
                    <div class="card card-w-title MarginBottom0" >
                        <h1 class="tituloConBotones">
                            <ui:insert name="titulo"/>
                        </h1>
                        <div style="display: inline-block; margin-top: 0px; float: initial" id="message_header">

                            <p:outputPanel class="botonesAcciones">
                                <ui:insert name="tituloBotones"/>
                            </p:outputPanel>

                            <!-- <p:messages id="messages" closable="true" globalOnly="true" autoUpdate="false" style="display: inline-block; margin-left: 15px"/>-->
                        </div>
                        <c:if test="#{tieneTabs}">
                            <div style="display: grid" class="MarginTop10">
                                <p:outputPanel styleClass="ui-g-12, MarginLeft0">
                                    <ui:insert name="tabsBotones"/>
                                </p:outputPanel>
                            </div>
                        </c:if>
                    </div>
                </h:form>
            </div>

            <h:form id="formDetalle" class="ui-g-12 ui-g-nopad">

                <c:if test="#{!tieneTabs}">
                    <div class="ui-g-12 ui-lg-6" >
                        <ui:insert name="colIzq"/>
                    </div>
                    <div class="ui-g-12 ui-lg-6" >
                        <ui:insert name="colDer"/>
                    </div>
                </c:if>

                <c:if test="#{tieneTabs}">
                    <p:tabView id="pestana" widgetVar="tab" class="ocultarTabs" dynamic="true" style="margin: -4px; margin-top: 3px;" cache="false">
                        <ui:insert name="tabsPaneles"/>
                    </p:tabView>
                </c:if>
                <div class="ui-g-12">
                    <ui:insert name="filaAbajo"/>
                </div>
                

                <div class="ui-g-12" >
                    <ui:insert name="pie"/>
                </div>
            </h:form>

            <ui:insert name="dialogo"/>
        </div>
    </ui:define>

    <ui:define name="scriptsPieBase">
        <script>
            $(function() {
                $("#message_header .ui-messages").hide();
            });

            function showTab(index) {
                PF('tab').select(index);
            }

            function comprobar() {
                $("ul.mensajeTab").each(function(index, value) {
                    $(value).nextAll(':lt(2)').attr('style', 'color: #d50808 !important; display: inline !important; position: relative');
                });
            }
        </script>
        <ui:insert name="scriptsPie"/>
    </ui:define>
</ui:composition>