<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="/WEB-INF/templateContenido.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="head">
        <ui:insert name="head"/>
    </ui:define>

    <ui:define name="contenido">

        <ui:insert name="variables"/>

        <p:outputPanel class="ui-g" id="contenedorPlantilla">
            <div class="ui-g-12">
                <h:form>
                    <ui:insert name="migas"/>
                </h:form>
            </div>

            <ui:insert name="buscador"/>

            <div class="ui-g-12 #{numColumnas == 1 ? 'ui-lg-12' : 'ui-lg-9'}" >
                <div class="card card-w-title ui-g-12" >
                    <h1><ui:insert name="titulo"/></h1>

                    <ui:insert name="tabla"/>
                </div>
            </div>

            <c:if test="#{numColumnas == 2}">
                <div class="ui-g-12 ui-lg-3" >
                    <div class="card" >
                        <ui:insert name="colDerecha"/>
                    </div>
                </div>
            </c:if>
        </p:outputPanel>
        <p:blockUI id="blockPlantilla" widgetVar="blockUI"  block="contenedorPlantilla" trigger="@(.botonBuscar) @(.botonRecargar)">
            <div id="loaderPlantilla" class="spinner-plantilla">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </p:blockUI>        
    </ui:define>

    <ui:define name="scriptsPieBase">
         <ui:insert name="scriptsPie"/>
    </ui:define>
</ui:composition>