<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/paradise"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <o:importConstants type="es.metadata.proyectobase.security.Rol"/>


    <div class="topbar">
        <h:link outcome="/dashboard" styleClass="topbar-logo">
            <p:graphicImage name="images/#{guestPreferences.layout == 'default' ? 'logo-black.png' : 'logo-white.png'}" style="border: 0px;" library="paradise-layout" />
        </h:link>

        <a href="#" id="menu-button">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#" id="user-display">
            <span class="username">
                <h:outputText value="#{usuarioConectado.nombreUsuario}"/>
            </span>
            <p:graphicImage name="images/avatar.png" library="paradise-layout" style="border: 0px;"/>
        </a>

        <ul id="topbar-menu" class="fadeInDown animated">
            <li>
<!--                <p:link href="usuario_detalle.xhtml?id=#{usuarioConectado.usuario.idUsuario}"  >
                    <i class="topbar-icon fa fa-fw fa-user"></i>
                    <span class="topbar-item-name">#{msg.campo0480}</span>
                </p:link>-->
                <li role="menuitem">
                    <p:commandLink action="#{loginController.cerrarSesion}" styleClass="MarginLeft5" >
                        <i class="fa fa-sign-out"></i>
                        <span>#{msg.campo0051}</span>
                    </p:commandLink>
                </li>
            </li>
        </ul>
    </div>
</ui:composition>