/*//estilo de el card de articulos en la tienda*/
.articulo {
    position: relative;
    margin: 5px;
    background: #fbfbfb;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 0px;
}

@media (min-width: 1300px) {
    .articulo {
        margin: 5px;
    }
}

.articulo h2{
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #5a5a5a;
}

.articulo img {
    max-width: 80%;
    vertical-align: top;
    position: relative;
    background-color: #666666;
    border-radius: 10px;
    margin-top: 15px;
}
.articulo figcaption {
    padding: 0px 20px 0px 20px;
}

.articulo h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.articulo .price {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 48px;
    letter-spacing: 1px;
}

.articulo .priceFinanciacion {
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: -10px;
    padding-bottom: 10px;
}