.botonCuadrado  {
    width:  30px !important;
}

.boton-filtros-desactivados{
    font-weight: bold;
    font-size: 1.2em;
    color: #3984b8 !important;
    background-color: transparent !important;
    border-color: #3984b8 !important;
    width: 7em;
    height: 2.2em;
}

.boton-filtros-activados{
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    color: #3984b8;
    width: 7em;
    height: 2.2em;
}

.boton-accion-secundario{
    background-color: transparent;
    color: #3984b8;
    border-color: #3984b8;
}

.boton-accion-secundario:hover{
    background-color: #3984b8;
}

.boton-accion-peligro{
    background-color: transparent !important;
    color: #e17576 !important;
    border-color: #e17576 !important;
}

.boton-accion-peligro:hover{
    background-color: #e17576 !important;
    border-color: #dc6061 !important;
    color: #ffffff !important;
}

.boton-cancelar-transparente {
    color: #3984b8 !important;
    background-color: transparent !important;
    border: 1px solid #3984b8 !important;
    
    margin-right: 1.25em !important;
}

.boton-cancelar-transparente:hover {
    color: white !important;
    background-color: #3984b8 !important;
}