/*Formatea el buscador*/
.buscador .ui-panelgrid.form-group .ui-panelgrid-cell {
    padding: 4px 10px;
}

/*Formatea el buscador*/
.buscador .global-sales .ui-panel-content button {
    float: none !important;
}

.buscador .icono-buscador {
    padding-top: 1em;
}

/*Formatea el buscador. Es una copia de la clase css .dashboard para que no se llame igual*/
.buscador .icono-buscador .ui-panel-content .icono-buscador-imagen {
    border: 1px solid #dee4e9;
    position: absolute;
    left: -1px;
    top: -45px;
    width: 100px;
    height: 75px;
    text-align: center;
    background-color: #ffffff;
}

/*Formatea el buscador. Es una copia de la clase css .dashboard para que no se llame igual*/
.buscador .icono-buscador .ui-panel-content .icono-buscador-imagen img {
    margin-top: 15px;
    line-height: inherit;
    display: inline-block;
}

/*Formatea el buscador. Es una copia de la clase css .dashboard para que no se llame igual*/
.buscador .icono-buscador .ui-panel-content {
    padding: 5px 0 0 0;
    position: relative;
}

/*Formatea el buscador. Es una copia de la clase css .dashboard para que no se llame igual*/
.buscador .icono-buscador .ui-panel-titlebar {
    padding-left: 110px;
}

/*Formatea el buscador. Es una copia de la clase css .dashboard para que no se llame igual*/
.buscador .ui-panel .ui-panel-titlebar {
    border-color: #dee4e9;
}