/*Hacemos que el h1 no ocupe la fila entera para poner a su derecha botones*/
.card h1.tituloConBotones {
    display: inline;
    margin-right: 30px;
    margin-top: 0;
}

/*Ponemos los botones de accion al la derecha del h1 de titulo*/
.card div.botonesAcciones {
    display: inline;
}

.card h2:first-child {
    margin-top: 0;
}

/*Le ponemos borde a los cuadros*/
.card {
    border: 1px solid #c7cdd1;
}

.tarjeta{
    background-color: white;
    text-align: center;
    height: 330px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.tarjetaResumenPago{
    background-color: white;
    height: 29em;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.tarjeta .image-wrapper, .tarjetaResumenPago .image-wrapper {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 100%;
    background-size: initial;
    background-repeat: no-repeat;
    box-shadow:  2px 4px 14px -3px grey;
}