/*Calendario con fecha*/
.calendarioDatePickerRequired{
    width: 125px !important;
}

/*Calendario con fecha y hora*/
.calendarioGrandeDatePickerRequired .hasDatepicker{
    width: 180px !important;
}