/*Calendario con fecha*/
.calendarioDatePicker{
    width: 125px !important;
}

/*Calendario con fecha y hora*/
.calendarioGrandeDatePicker .hasDatepicker{
    width: 180px !important;
}

.calendarioConFechaActual .ui-datepicker-current{
    color: white;
    background-color: #3984b8;
    border: 0px;
}