.input-number{
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    margin-left: -4px;
    margin-right: -4px;
}

.input-number,
.input-number-decrement,
.input-number-increment{
    border: 1px solid #ccc;
    height: 30px;
    user-select: none;

}
.input-number-decrement,
.input-number-increment{
    display: inline-block;
    width: 30px;
    line-height: 31px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #3984b8;
    color: white;
}
&:active{
    background: #ddd;
}
.input-number-decrement{
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.input-number-increment{
    border-left: none;
    border-radius: 0 4px 4px 0;
}