.spinner-plantilla {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-plantilla > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-plantilla .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-plantilla .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-plantilla .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-plantilla .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.butter-component-spinner {
    -moz-box-pack: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 19px);
}
.butter-component-spinner > div {
    background: #fff none repeat scroll 0 0;
    height: 4em;
    margin: 4px;
    width: 10px;
}
.butter-component-spinner > div:nth-child(1) {
    animation: 1s ease-in-out 0s normal none infinite running load1;
}
.butter-component-spinner > div:nth-child(2) {
    animation: 1s ease-in-out -0.1s normal none infinite running load1;
}
.butter-component-spinner > div:nth-child(3) {
    animation: 1s ease-in-out -0.2s normal none infinite running load1;
}
.butter-component-spinner > div:nth-child(4) {
    animation: 1s ease-in-out -0.3s normal none infinite running load1;
}