/*//estilo de los botones de la cabecera para los tabviews*/
.botonesTabs{
    background-color: transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
    color: #3984b8 !important; 
    border-bottom: 3px solid white !important; 
}

/*hover para poner la linea azul cuando pasa por encima de un boton*/
.botonesTabs:hover{
    background-color: transparent !important;
    border-bottom: 3px solid #3984b8 !important; 
}

/*pone estilo al boton seleccionado y le añade una linea azul debajo*/
.tabSeleccionado{
    background-color: transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
    color: #3984b8 !important;
    border-bottom: 3px solid #3984b8 !important; 
}

/*clase nesecaria para que le icono de la validacion de las tabs salga en esa posicion*/
.posicionIconoValidacion{
    right: 9px;
}