/*En selectOneButton, les da a todos esta anchura minima, para que los botones se vean iguales*/
.classSelectItem > div{
    min-width:110px !important;
}
.classSelectItem{
    width:auto !important;
}

/*En el datatable con seleccion, esto quita el check para seleccionarlos todos que viene por defecto*/
.tablaSelector th .ui-chkbox-all{
    display: none !important;
}