.tabla-con-botones-en-cabecera .ui-g-6 {
    padding: 0px;
}

/*Cambia la apariencia de las graficas*/
table.jqplot-table-legend {
    background-color: #ffffff;
    color: #757575;
    border-color: #dce2e7;
}